/* Footer: Explora */
.footerExplora {
  background-color: #44444a;
  & .row {
    justify-content: space-between;
  }
  & .logos {
    gap: 20px;
    justify-content: space-between;
  }
  & .location {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
  }
  & h5 {
    text-transform: uppercase;
    font-weight: 700;
  }
  & ul {
    list-style: none;
    padding: 0;
    & li {
      margin-bottom: 1em;
    }
  }
  & .social i {
    font-size: 1.5em;
  }
}
/* Footer: Planetary */
.footerPlanetary {
  background-color: $purple-2;
  & h5 {
    color: $yellow-p1;
  }
  & ul {
    list-style: none;
    padding: 0;
  }
  & a:hover {
    color: $blue-p1;
  }
  & .logos {
    gap: 30px;
    padding-right: 40px;
  }
  & .social i {
    font-size: 1.5em;
  }
}

@media (max-width: $breakpoint-lg) {
  .footerPlanetary {
    & [class*="col"] {
      border-top: 1px solid #fff2;
      line-height: 1.5em;
      padding-top: 30px !important;
      padding-bottom: 15px !important;
      font-weight: 200;
    }
    & [class*="col"]:first-child {
      border-top: none !important;
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
    & .logos {
      justify-content: center;
      gap: 10px;
      padding-right: 0;
    }
  }
}
@media (max-width: $breakpoint-md) {
  .footerExplora {
    & [class*="col"] {
      padding: 10px 0;
    }
    & .location {
      display: initial;
      border-top: 1px solid;
      border-bottom: 1px solid;
      padding: 30px 0 0;
      margin: 20px 0 30px;
    }
    & .logos {
      gap: 20px;
      flex-direction: column;
      margin: 0 !important;
    }
  }
  .footerPlanetary {
    & .logos {
      flex-direction: column;
      gap: 20px;
      padding: 0;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .footerExplora {
    & [class*="col"] {
      padding: 10px 0;
    }
  }
}
