.relative {
  position: relative;
}
.filter {
  z-index: 100;
  position: absolute;
  top: -30%;
  left: 0;
  //   min-width: 735px;
  width: 1200px;
  box-shadow: 0px 3px 6px #0000001d;
  background: #ffffff;
  padding: 15px;
}

.filterOptions {
  padding: 50px 50px;
  & p {
    font-size: 21px;
    font-weight: 200;
    color: #6c6d71;
  }
  & ul {
    padding-left: 0;
  }
  & ul li {
    display: flex;
    list-style: none;
    padding: 10px 0;
    & label {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 17px;
    }
  }
  & ul li input[type="checkbox"] {
    visibility: hidden;
    -webkit-appearance: none;
  }
  & ul li input[type="checkbox"] + label {
    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 19px;
      height: 19px;
      margin-right: 11px;
      background: #f2f2f7;
    }
  }
  & ul li input[type="checkbox"]:checked + label {
    & span::after {
      content: "";
      width: 9px;
      height: 9px;
      background: #39e8ef;
    }
  }
}

.filterBtn {
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  width: 247px;
  height: 43px;
  background: #ecebed;
  color: #1e1e3f;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: bold;
  font-size: 14px;
}
@media (max-width: $breakpoint-xxl) {
  .filter {
    width: 1035px !important;
  }
}
@media (max-width: $breakpoint-sm) {
  .filterOptions {
    padding: 0;
    & ul li label {
      font-size: 15px;
    }
  }
  .filter {
    min-width: none;
    width: 372px !important;
  }
}
