.tabsServices {
    margin-top: -110px;
    & .tabItem {
        width: 33%;
        & a {
            padding: 3.1rem 0 1.8rem;
            border-radius: 0;
            text-align: center;
            line-height: 1.43rem;
            background-color: $white;
            color: $black-2;
            & p {
                height: 30px;
                margin-bottom: 0;
            }
        }
    }
    & .tabActive {
        width: 33%;
        transform: scale3d(1, 1.1, 1.1);
        & a {
            padding: 2.2rem 0 1.5rem;
            border-radius: 0;
            text-align: center;
            line-height: 1.43rem;
            background-color: $red-3;
            color: $white;
            opacity: 90%;
            & p {
                height: 30px;
                margin-bottom: 12px;
            }
        }
    }
    & .tabActive a::after {
        content: "";
        background: $white;
        width: 122px;
        height: 4px;
        display: block;
        margin: 0 auto;
        // margin: 0 70px;
    }
    & .tabActiveGray {
        width: 33%;
        transform: scale3d(1, 1.1, 1.1);
        & a {
            padding: 2.2rem 0 1.5rem;
            border-radius: 0;
            text-align: center;
            line-height: 1.43rem;
            background-color: $black-2;
            color: $white;
            opacity: 90%;
        }
        & p {
            height: 30px;
            margin-bottom: 12px;
        }
    }
    & .tabActiveGray a::after {
        content: "";
        background: $white;
        width: 122px;
        height: 4px;
        display: block;
        margin: 0 auto;
        // margin: 0 70px;
    }
}

@media (max-width: $breakpoint-lg) {
    .tabsServices {
        margin-top: -69px;
        & .tabItem {
            width: 32.8%;
            & a {
                padding: 1rem 0 0.5rem;
                font-size: 15px;
                & p {
                    height: 45px;
                    margin: 0 auto;
                }
            }
        }
        & .tabActive {
            width: 32.8%;
            transform: scale3d(1, 1.1, 1.1);
            & a {
                padding: .9rem 0 1.4rem;
                font-size: 15px;
                & p {
                    display: block;
                    margin: 0 auto 0px;
                    height: 25px;
                }
            }
        }
        & .tabActive a::after {
            width: 54px;
            height: 2px;
            margin-top: 3px;
        }
        & .tabActiveGray {
            width: 32.8%;
            transform: scale3d(1, 1.1, 1.1);
            & a {
                padding: 0.8rem 0 1.3rem;
                font-size: 15px;
            }
            & p {
                height: 45px;
                display: block;
                margin: 0 auto 0px;
            }
        }
        & .tabActiveGray a::after {
            width: 54px;
            height: 2px;
            margin-top: -15px;
        }
    }
}

@media (max-width: $breakpoint-sm) {
    .tabsServices {
        margin-top: -69px;
        & .tabItem {
            width: 32.8%;
            & a {
                padding: 1rem 0 0.5rem;
                font-size: 15px;
                & p {
                    width: 64%;
                    height: 45px;
                    margin: 0 auto;
                }
            }
        }
        & .tabActive {
            width: 32.8%;
            transform: scale3d(1, 1.1, 1.1);
            & a {
                padding: .5rem 0 .7rem;
                font-size: 15px;
                & p {
                    display: block;
                    margin: 0 auto 0px;
                    width: 64%;
                    height: 45px;
                }
            }
        }
        & .tabActive a::after {
            width: 54px;
            height: 2px;
            margin-top: 3px;
        }
        & .tabActiveGray {
            width: 32.8%;
            transform: scale3d(1, 1.1, 1.1);
            & a {
                padding: 0.8rem 0 1.3rem;
                font-size: 15px;
            }
            & p {
                height: 45px;
                display: block;
                width: 64%;
                margin: 0 auto 0px;
            }
        }
        & .tabActiveGray a::after {
            width: 54px;
            height: 2px;
            margin-top: -15px;
        }
    }
}