.contact {
    background-image: url(../../../../public/assets/services/img3.png);
    background-color: #0c0c0cc7;
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 11.3rem 0;
    margin-top: 3.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

@include media(sm) {
    .contact {
        background-image: url(../../../../public/assets/services/img3Responsive.png);
        padding: 18.5rem 0;
    }
}