.wrapperExplora{
    background-image: url(/assets/fondo-explora02.png);
    margin: 7rem auto;
    height: 300px;
}


.buttonbar{
    width: 200px;
    display: block;
}

.buttonbar a{
background-color: $red-3;
color: $white;
display: inline-block !important;
font-size: 14px;
margin-top: 2rem;
display: flex;
align-items: center;
justify-content: center;
padding: 1.1rem 2rem;
}
.buttonbar hr{
background-color: $yellow-2;
height: 12px;
margin-top: 0px;
opacity: 1;
width: 40%;    
}