.cardProgramate {
    border: 1px solid $gray-1;
    & hr {
        margin: 15px 0;
        background: #707070;
        height: 2.5px;
    }
}

.cardAudience {
    position: absolute;
    bottom: 2px;
}

.cardAudience {
    & p {
        margin-bottom: -1px;
        font-size: 14px;
        padding-left: 0.5rem!important;
        color: $white;
    }
    & .cardBgModality {
        background: #B7B7C1;
    }
}

.date {
    margin-bottom: 0;
    color: $black-2;
}

.dateCourse {
    color: $black-2;
}

.cardBody {
    padding: 1rem 1.5rem;
}

.cardLocation {
    position: absolute;
    padding-left: 0.6rem!important;
    top: 0;
    font-size: 14px;
    line-height: 23px;
    background: $gray-3;
}

.cardLocationCourse {
    position: relative;
    top: -7px;
    display: inline-block;
    font-size: 14px;
    background: $gray-3;
}

.cardBody {
    & p {
        color: #bbb;
    }
    & span {
        font-size: 14px;
    }
    & .cardTitle {
        color: $black-2;
        height: 45px;
    }
    & .cardTime {
        color: $red-3;
        margin-bottom: 0;
    }
    & .cardPrice {
        color: $red-3;
        margin-bottom: 0;
    }
    & .btn {
        border: none;
        background: #e8e8ed;
        color: #707074;
        font-size: 14px;
        width: 100%;
    }
    & .cardRegister {
        color: #707074;
    }
}

p.dateCourse {
    color: $black-2;
    font-size: 14px;
    font-weight: 300;
}

@include media(xs) {
    .cardProgramate {
        width: 300px;
        & hr {
            margin: 12px 0;
            background: #707070;
            height: 2px;
        }
    }
    .cardAudience {
        & p {
            margin-bottom: 0;
            font-size: 14px;
            color: $white;
        }
        & .cardBgModality {
            background: #B7B7C1;
        }
    }
}

// @media (max-width: 1399px) {
//     .cardBody .cardTitle {
//         color: #44444a;
//         font-size: 16px;
//         height: 80px;
//     }
//     .cardBody .cardTime {
//         color: #f45858;
//         font-size: 13px;
//     }
// }