.bannerCover {
  background-size: cover !important;
  background-position: center !important;
  height: 38vh;
  position: relative;
  display: flex;
  align-items: center;
}

.bannerContent {
  padding-top: 3.2%;
  width: 100%;
}

.bannerDescription {
  width: 881px;
}

.bannerPrice {
  display: block;
  padding: 2px 3px;
  width: 103px;
  height: 29px;
  font-size: 18px;
  background: $red-3;
}

.isMobile {
  display: none;
}

.isHiddenMobile {
  display: block;
}

@media (max-width: 1440px) {
  .bannerContent {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .bannerContent {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .bannerCover {
    height: 25vh;
  }

  .bannerContent {
    width: auto;
    padding: 50px 0 0 55px;
  }
  .isMobile {
    display: block;
  }
  .isHiddenMobile {
    display: none;
  }
}
