.btnNext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  width: 165.06px;
  height: 40.39px;
  border-radius: 0;
  color: #fff;
  &:hover {
    color: $white;
  }
}

.btnClose {
  color: $gray-5;
  font-size: 14px;
  border: none;
  border-radius: 0;
  background: none;
  width: 165.06px;
  height: 40.39px;
  &:hover {
    color: $white;
  }
}

.btnGeneral {
  width: 188.45px;
  height: 100%;
}

.modal40w {
  max-width: 40%;
}

.modal90w {
  max-width: 90%;
}

@media (max-width: 1280px) {
  .modal40w {
    max-width: 50%;
  }
  
  .modal90w {
    max-width: 98%;
  }
}

@media (max-width: 530px) {
  .modal40w {
    max-width: 98%;
  }
  
  .modal90w {
    max-width: 98%;
  }
}