.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}
.radioInput {
  display: none;
}
.radioRadio {
  width: 1.75em;
  height: 1.75em;
  background: $gray-4;
  border: 2px solid $gray-4;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 2px;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: $primary;
    border-radius: 50%;

    transform: scale(0);
    transition: 0.15s;
  }
}

.radioInput:checked + .radioRadio::after {
  transform: scale(1);
}
