.btnArrow {
    border: none;
    background: none;
}

.box{
    & input {
        border: none;
        text-align: center;
        width: 43px;
        height: 50px;
    }
}

.isMobile {
    display: none;
}

.isHiddenMobile {
    display: flex;
}

@media (max-width: 580px) {
    .isMobile {
        display: none;
    }
    
    .isHiddenMobile {
        display: none;
    }
}