.billingBackground {
  position: relative;
  padding: 20px 0;
  background: #f2f2f7;
}

.backButton {
  position: absolute;
  font-size: 2.5rem;
  left: 6%;
}
.billingGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-areas:
    "billingForm orderSummary  "
    "billingForm  orderSummary"
    "discount orderSummary";
}

.billingForm {
  grid-area: billingForm;
  background: #fff;
}
.discount {
  grid-area: discount;
  background: #fff;
}
.orderSummary {
  grid-area: orderSummary;
  background: #fff;
}
@media (max-width: 1460px) {
  .backButton {
    // position: relative;
    left: 1%;
    top: 2.5%;
  }
}

@media (max-width: $breakpoint-sm) {
  .backButton {
    position: relative;
    left: 3%;
    top: -3%;
  }
  .billingGrid {
    padding: 0 0 0 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas:
      "billingForm"
      "discount"
      "orderSummary";
  }
}
