.title {
  margin-top: 50px;
  margin-bottom: 80px;
}

@media (max-width: 520px) {
  .ticketNumber {
    padding: 25px 0;
    border-top: 1px solid $gray-4;
    border-bottom: 1px solid $gray-4;
  }
  .selectProyection {
    padding: 9% 0 0 0;
  }
  .title {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}
