.bgdomos {
  background: linear-gradient(
    to bottom,
    #1e1e3f 0%,
    #1e1e3f 40%,
    #1e1e3f 40%,
    #313a61 40%,
    #313a61 100%
  );
}
.domos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 270px 270px;
  grid-template-areas:
    "item1 item1 item2 item3"
    "item4 item5 item5 item3";
  gap: 20px;
  & .overlay {
    z-index: -1;
  }
  & > div {
    background-position: center;
    background-size: cover;
    padding: 20px 40px;
    display: grid;
    align-items: end;
    justify-content: start;
    background-color: gray;
    z-index: 2;
    & a {
      max-width: max-content;
      z-index: 2;
      transition: all 0.4s ease-out;
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
      &:hover {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}

@media (max-width: $breakpoint-lg) {
  .domos {
    grid-template-rows: 220px 220px;
    & h3 {
      font-size: 1.2em !important;
    }
  }
}
@media (max-width: $breakpoint-md) {
  .domos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:
      200px 200px
      200px 200px;
    grid-template-areas:
      "item1 item1"
      "item2 item3"
      "item4 item3"
      "item4 item5";
    & h3 {
      font-size: 1em !important;
    }
  }
}
