.selectFilter {
    position: absolute;
    left: 32px;
    top: 68px;
}

.selectFilterCalendar {
    position: absolute;
    left: 203px;
    top: 68px;
}

.selectFilter2 {
    display: flex;
    align-items: baseline;
    position: absolute;
    left: 32px;
    top: 88px;
}

.pointer {
    cursor: pointer;
}

.btnSubmit {
    background-color: $red-3;
    border: none;
    color: $white;
    display: inline-block;
    margin: auto;
    padding: 1rem 5rem;
}

.deleteFilter {
    width: 220px;
}

.deleteFilter span {
    cursor: pointer;
    display: inline-block;
    font-size: 28px;
    position: relative;
    top: 5px;
}

.filter,
.filterCalendar {
    position: absolute;
    left: -15px;
    top: 28px;
    background: white;
    box-shadow: 1px 1px 3px 0px #cbcbcb;
    padding: 2.5rem 2rem;
    width: 1180px;
    z-index: 15;
}

.filter h3,
.filterCalendar h3 {
    color: $black-2;
}

.filter ul,
.filterCalendar ul {
    list-style: none;
    padding: 0;
    display: inline-grid;
    margin: 2rem .3rem;
}

.filter ul li,
.filterCalendar ul li {
    color: $black-2;
    display: block;
    position: relative;
    width: auto;
    justify-content: left;
    align-items: center;
}

.filter ul li input[type=checkbox],
.filterCalendar ul li input[type=checkbox] {
    position: absolute;
    visibility: hidden;
}

.filter ul li label,
.filterCalendar ul li label {
    display: inline-table;
    position: relative;
    font-weight: 300;
    font-size: 1.05em;
    padding: 1px 15px 5px 35px;
    margin: 1px auto;
    height: 20px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.filterCalendar ul li label {
    padding: 8px 15px 9px 65px;
}

.filter ul li .check,
.filterCalendar ul li .check {
    display: block;
    position: absolute;
    border: 5px solid $gray-3;
    background-color: $gray-3;
    height: 25px;
    width: 25px;
    top: 0px;
    left: 0px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.filterCalendar ul li .check {
    height: 30px;
    width: 30px;
    border-radius: 2rem;
}

.filter input[type=checkbox]:checked~.check {
    background: $red-3;
}

.filterCalendar .showInput input[type=checkbox]~.check {
    background: $black-2;
}

.filterCalendar .hideInput input[type=checkbox]~.check {
    background: $gray-3;
}

.filterCalendar img {
    cursor: pointer;
}

@include media(xs) {
    .filter,
    .filterCalendar {
        left: -8px;
        width: 370px;
    }
    .filter ul li label,
    .filterCalendar ul li label {
        font-size: 10px;
    }
    .selectFilter,
    .selectFilterCalendar {
        position: unset;
    }
    .selectFilter2 {
        display: flex;
        flex-wrap: wrap;
        position: unset;
        margin-bottom: 2rem;
    }
}

@media(max-width: $breakpoint-xs) {
    .filter,
    .filterCalendar {
        left: 0px;
        width: 320px;
    }
    .filter ul li label,
    .filterCalendar ul li label {
        font-size: 8px;
    }
}

.btnNext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    width: 212.06px;
    height: 40.39px;
    border-radius: 0;
    color: #fff;
    &:hover {
        color: $white;
    }
}

.btnClose {
    color: $gray-5;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 0;
    background: none;
    width: 212.06px;
    height: 40.39px;
    &:hover {
        color: $white;
    }
}

// .selectFilterMonth {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 133px;
//     height: 42px;
//     border: 1px solid $gray-3;
// }
.filter_selectMonth {
    display: block;
    margin: 0 auto;
    width: 212px;
    height: 377px;
    margin-bottom: 65px;
    // position: relative;
    // top: 30px;
    // left: 20px;
}

.filter_selectMonth option {
    padding: 20px 0px 20px 15px;
    font-size: 1.05em;
    color: $black-2;
}

.filter_selectMonth:focus {
    border: 1px solid #AAAAA4;
    outline: none;
    -webkit-box-shadow: 1px 1px 3px 0px #cbcbcb;
    box-shadow: 1px 1px 3px 0px #cbcbcb;
}

.filter_selectMonth option:focus-visible {
    border: none;
}