// DatePicker 2

.calendar {
  width: 23rem;
  height: 25  rem;
  margin: 0 auto;
  border: 1px solid #9999B2;  
  border-radius: 1%;
}

.month {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.9rem;
  text-align: center;
  & span {
    font-size: 18px;
    cursor: pointer;
  }
  & h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem; 
  }
}
.weekdays {
  width: 100%;
  height: 4rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
  & div {
    padding: 0;
    font-size: 13px;
    font-weight: 700;
    color: $red-3;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.1rem;
  & div {
    font-size: 13px;
    margin: 0.3rem;
    width: calc(18.12rem / 7);
    height: calc(18.12rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    border-radius: 50%
  }
  & div:hover:not(.today) {
    background-color: $red-3;
    // border: 0.2rem solid $red-3;
    cursor: pointer;
  }
}

.prevDate,
.nextDate {
  opacity: 0.5;
  cursor: none;
}

.today {
  cursor: pointer;
  background-color: $red-3;
  border-radius: 50%
}

.hidden {
  display: none;
}

.show {
  display: block;
}



@media (max-width:478px) {
  .calendar {
    width: 21rem;
  }
  .days {
    & div {
      width: calc(16.22rem / 7);
      height: calc(16.22rem / 7);
    }
  }
}

@media (max-width:384px) {
  .calendar {
    width: 18rem;
  }
  .days {
    & div {
      width: calc(13.12rem / 7);
      height: calc(13.12rem / 7);
    }
  }
}