.inputSearch {
    border: 1px solid #707070;
    padding: 1rem;
    padding-left: 45px;
    width: 326px;
    height: 50px;
    border-radius: 2rem;
    &:focus {
        outline: none;
    }
}

.buttonSearch {
    height: 2rem;
    width: 2rem;
    display: block;
    background-size: 1.5rem;
    background-image: url('/assets/icon-search-black.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 280px;
    top: 13px;
    background-color: white;
    border: none;
    // Ocultar texto de la etiqueta
    text-indent: -9999px;
}

@media(max-width:575px) {
    .buttonSearch {
        left: 18%;
        right: unset;
    }
}

@media(max-width:445px) {
    .buttonSearch {
        left: 11%;
        right: unset;
    }
}