.pagebarRelative {
  display: flex;
  align-items: center;
  position: relative;
  & h2 {
    color: $black-2;
  }
}

.pagebarTransparent,
.pagebarTransparentAlt {
  display: flex;
  align-items: center;
  position: relative;
  & h2 {
    color: $white;
  }
}

.btnLink {
  position: absolute;
  top: 50px;
  left: -40px;
}

@include media(sm) {
  .btnLink {
    position: absolute;
    left: 0px;
  }
}

@include media(xs) {
  .pagebarRelative {
    height: 80px;
    background-color: #f2f2f7;
  }
  .pagebarTransparent {
    background-color: transparent;
    margin-top: -110px;
    height: 80px;
    & h2 {
      font-size: 20px;
      color: $white;
    }
  }
  .pagebarTransparentAlt {
    margin-top: -80px;
    height: 80px;
    & h2 {
      font-size: 20px;
      color: $black-2;
    }
  }
  .btnLink {
    position: absolute;
    left: 5px;
    top: 20px;
    margin-right: 28px;
  }
}
