.bannerProgramming {
    background-image: url(../../../../public/assets/bannerCourses.png);
    background-color: rgba(50, 50, 50);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 588px;
    & h3 {
        color: $white;
        margin-top: 6rem;
    }
}

@include media(xs) {
    .bannerProgramming {
        height: 300px;
        margin-top: 160px;
        & .infoBannerProgramming {
            & h3 {
                margin-top: 70px;
                font-size: 27px;
                line-height: 33px;
                font-weight: lighter;
            }
            & p {
                display: none;
            }
        }
    }
}

.infoBannerProgramming {
    & h2 {
        margin-top: 70px;
        line-height: 65px;
    }
    & p {
        line-height: 23px;
    }
}