.discountBtn {
  position: relative;
  width: 100%;
  margin-top: 2%;
  & i {
    position: absolute;
    right: 4%;
    top: 36%;
  }
}
.flexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: $breakpoint-xxl) {
  .discountBtn {
    position: relative;
    width: 100%;
    margin-top: 4%;
    & i {
      display: none;
    }
  }
}
@media (max-width: $breakpoint-sm) {
  .discountBtn {
    position: relative;
    width: 100%;
    margin-top: 4%;
    // font-size: 0.8rem;
    & i {
      display: flex;
    }
  }
  .flexBox {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .customPadding {
    margin-top: 1rem;
    width: 100%;
  }
}
