.portfolioServices {
    padding: 0 0 119px;
    margin-top: -10px;
    background: $red-3;
    & h2 {
        color: $white;
    }
}

.portfolioServicesGray {
    padding: 0 0 119px;
    margin-top: -10px;
    background: $black-2;
    & h2 {
        color: $white;
    }
}

.portfolioServices_bgGray {
    height: 467px;
    background: $gray-3;
}

.portfolioServices_List {
    margin-top: -32.5rem;
}

@include media(xs) {
    .portfolioServices {
        & h2 {
            font-size: 1.68rem;
            line-height: 2.18rem;
            letter-spacing: -0.02rem;
        }
    }
    .portfolioServices_bgGray {
        & h2 {
            font-size: 1.68rem;
            line-height: 2.18rem;
            letter-spacing: -0.02rem;
        }
    }
}