/* Media queries */

@mixin media($media) {
  @if $media==xs {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $media==sm {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $media==md {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $media==lg {
    @media (max-width: $breakpoint-xl) {
      @content;
    }
  } @else if $media==xl {
    @media (max-width: $breakpoint-xxl) {
      @content;
    }
  } @else if $media==xxl {
    @media (min-width: $breakpoint-xxl) {
      @content;
    }
  } @else if $media==xxxl {
    @media (min-width: $breakpoint-xxxl) {
      @content;
    }
  }
}
