/* ------------------ Colors  ------------------ */

/*
    1 - Lightness
    5 - Darkness  
*/

$red-1: #ff7777;
$red-2: #ff6262;
$red-3: #f45858;
$red-4: #d55050;
$red-5: #c34848;

$yellow-1: #ffe874;
$yellow-2: #ffdb24;
$yellow-3: #f9d51d;
$yellow-4: #e0c122;
$yellow-5: #d3b622;

$green-1: #8ae08f;
$green-2: #7fce84;
$green-3: #70be75;
$green-4: #64aa69;
$green-5: #609d64;

$orange-1: #ff946e;
$orange-2: #ff6b36;
$orange-3: #f6571e;
$orange-4: #db5220;
$orange-5: #c95125;

$gray-1: #e6e6e6;
$gray-2: #e8e8ed;
$gray-3: #f2f2f7;
$gray-4: #d6d6d6;
$gray-5: #b7b7c1;

$black-1: #000;
$black-2: #44444a;

$white: #fff;

/* Planetary */
$purple-1: #6f619b;
$purple-2: #232945;
$purple-d: transparent linear-gradient(82deg, #9679f2 0%, #ad43c6 100%) 0% 0%
  no-repeat padding-box;
$green-p1: #cdf279;
$yellow-p1: #efc78c;
$blue-p1: #48f1ff;
$blue-p2: #39e8ef;

$bg-warning-p: #efc78c;

/* Media breackpoints*/
$breakpoint-xs: 365px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-xxxl: 1600px;

/* Font Size*/
$h1-font-size: 2.7em;
$h2-font-size: 2em;
$h3-font-size: 1.45em;
$h4-font-size: 1.1em;
$h5-font-size: 0.9em;
$h6-font-size: 0.6em;
/* $h1-font-size: 2.7em;
$h2-font-size: 2em;
$h3-font-size: 1.45em;
$h4-font-size: 1.1em;
$h5-font-size: 0.9em;
$h6-font-size: 0.6em;
 */
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
);

/* ------------- Ajuste Tema Bootstrap ------------*/
$primary: $red-3;

$theme-colors: (
  "primary": $red-3,
  "secondary": $gray-3,
  "success": $green-3,
  "warning": $yellow-3,
  "light": $gray-2,
  "dark": $black-1,
  "info": $red-1,
);

/* Colors Planetary*/
$colors: (
  "purple": $purple-1,
  "green-p": $green-p1,
);

/* ------------- Ajuste Progressbar ------------*/
$position-values: (
  0: 0,
  30: 30%,
  50: 50%,
  65: 65%,
  100: 100%,
) !default;

/* Buttons */
$btn-border-radius: 0;

/* Icons Explora */
$icomoon-font-family: "IconsExplora" !default;
$icomoon-font-path: "fonts" !default;

$icon-less: "\e93b";
$icon-cart: "\e923";
$icon-download: "\e929";
$icon-plus: "\e924";
$icon-plus-b: "\e925";
$icon-eye: "\e926";
$icon-planetary: "\e927";
$icon-play-circle: "\e928";
$icon-fullpack: "\e92a";
$icon-teacher: "\e92b";
$icon-clock-c: "\e92c";
$icon-chair: "\e92d";
$icon-triangle-bot: "\e92e";
$icon-triangle-top: "\e92f";
$icon-triangle-right: "\e930";
$icon-triangle-left: "\e931";
$icon-warning: "\e932";
$icon-location-c: "\e933";
$icon-calendar: "\e934";
$icon-close: "\e935";
$icon-client: "\e936";
$icon-arrow-c-right: "\e937";
$icon-arrow-c-left: "\e938";
$icon-arrow-c-top: "\e939";
$icon-arrow-c-bot: "\e93a";
$icon-certificate-excellence: "\e913";
$icon-Traveller-choise: "\e920";
$icon-microbiology-udea: "\e921";
$icon-best-aquarium: "\e922";
$icon-planet-store: "\e900";
$icon-instagram: "\e901";
$icon-twitter: "\e902";
$icon-facebook: "\e903";
$icon-planet-ticket: "\e904";
$icon-about-b: "\e905";
$icon-gift-ticket: "\e906";
$icon-arrow-right: "\e907";
$icon-arrow-right-cirlcle: "\e908";
$icon-search: "\e909";
$icon-store: "\e90a";
$icon-about: "\e90b";
$icon-currency-circle: "\e90c";
$icon-arrow-up: "\e90d";
$icon-arrow-up-cirlcle: "\e90e";
$icon-location: "\e90f";
$icon-user: "\e910";
$icon-city: "\e911";
$icon-ticket: "\e912";
$icon-ticket-pack: "\e914";
$icon-location-b: "\e915";
$icon-arrow-down: "\e916";
$icon-arrow-down-cirlcle: "\e917";
$icon-clock-b: "\e918";
$icon-users: "\e919";
$icon-percentage: "\e91a";
$icon-clock: "\e91b";
$icon-arrow-left: "\e91c";
$icon-arrow-left-cirlcle: "\e91d";
$icon-planet: "\e91e";
$icon-family: "\e91f";
$icon-whatsapp: "\ea93";
$icon-youtube: "\ea9d";
$icon-linkedin: "\eaca";
