.cardBox {
  border: 1px solid #c3c3c3;
  margin-bottom: 1.5rem;
}

.overlay {
  position: relative;
}

.overlayTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 90.68px;
  height: 35px;
  font-size: 0.9375rem;
  color: #ffff;
  border: 1px solid #ffffff;
  background: #28292e;
  opacity: 0.98;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayCategory {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;

  & p {
    margin: 0;
    padding: 7px 12px;
    height: 35px;
    font-size: 15px;
    font-weight: 200;
    &:nth-child(1) {
      background: $blue-p2;
    }
    &:nth-child(2) {
      background: $yellow-p1;
    }
  }
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 101px;
  height: 46px;
  background: #f4f5f7;
  & p {
    margin: 0;
    font-size: 25px;
    color: #5b5b5f;
    &:nth-child(1) {
      font-weight: 800;
    }
    &:nth-child(2) {
      font-weight: 300;
    }
  }
}

.contentBox {
  display: flex;
  flex-direction: column;
  padding: 23px 34px;
  & p {
    margin: 0;
    &:nth-child(1) {
      color: #209ea3;
    }
    &:nth-child(3) {
      color: $yellow-p1;
    }
  }
  & h1 {
    color: #6c6d71;
  }
}

.outlineBtn {
  margin-top: 21px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-weight: 200;
  border: 1px solid #6c6d71;
  height: 50px;
  color: #505053;
}

.btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-weight: 200;
  height: 50px;
  color: #505053;
}

@media (max-width: $breakpoint-sm) {
  .cardBox {
    width: 298px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
