.mainSection {
  height: 801px;
  background: $purple-2;
}

.overlay {
  position: relative;
}
.overlayItem {
  margin-top: -9%;
  padding-bottom: 5%;
}

@media (max-width: $breakpoint-sm) {
  .mainSection {
    height: 880px;
  }
  .overlayItem {
    margin-top: -60%;
  }
}
