.slider {
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65%;
  max-width: 100%;
  height: 93vh;
  position: relative;
  background-color: #48484880;
  background-blend-mode: soft-light;
  background-color: rgba(0, 0, 0, 0.6);
  & h2 {
    color: $gray-3;
  }
}

.link {
  padding-top: 2.5rem;
  position: absolute;
  top: 8%;
  left: 15%;
}

.btnLink {
  position: absolute;
  left: -40px;
}

.info a {
  border: 1px solid $white;
  color: $white;
  margin: 1rem 0.5rem;
  padding: 0.5rem 3rem;
  text-align: center;
  text-transform: uppercase;
}

.LinkBottom {
  position: absolute;
  bottom: 20px;
  width: 53%;
  right: 0;
}

.textCard {
  background: #00000085;
  position: absolute;
  top: 54%;
  width: 100%;
  & h5 {
    border-bottom: 1px solid;
    text-transform: uppercase;
  }
}

.bgDescripcion {
  background: $gray-3;
  min-height: 680px;
}

.fondoDescripcion,
.fondoDescripcionAcuario {
  position: absolute;
  left: -310px;
  width: auto;
}

.slickThumb {
  cursor: pointer;
  display: flex !important;
  overflow: auto;
  position: absolute;
  bottom: -95px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.slickThumb li {
  width: 200px;
}

.btnToogle {
  border: 1px solid $black-2;
  cursor: pointer;
}

@include media(xl) {
  .textCard {
    top: 47%;
    & h5 {
      font-size: 14px;
    }
  }
  .fondoDescripcion,
  .fondoDescripcionAcuario {
    position: absolute;
    left: -280px;
  }
}

@include media(lg) {
  .textCard {
    top: 39%;
    & h5 {
      font-size: 11px;
    }
  }
  .fondoDescripcion,
  .fondoDescripcionAcuario {
    position: absolute;
    left: -320px;
  }
}

@include media(md) {
  .textCard {
    top: 57%;
    & h5 {
      font-size: 18px;
    }
  }
  .fondoDescripcion,
  .fondoDescripcionAcuario {
    left: -189px;
    position: relative;
    width: 50%;
  }
}

@include media(sm) {
  .btnLink {
    position: absolute;
    left: 0px;
  }
  .textCard {
    width: 67%;
  }
  .fondoDescripcion {
    left: -50px;
    position: relative;
  }
  .fondoDescripcionAcuario {
    left: -79px;
    position: relative;
  }
}

@include media(xs) {
  .slider h2 {
    font-size: 34px;
  }
  .btnLink {
    position: absolute;
    left: 5px;
  }
  .info a {
    font-size: 11px;
    padding: 0.3rem 1.3rem;
  }
  .textCard {
    width: 330px;
  }
}

@media (max-width: $breakpoint-xs) {
  .textCard {
    top: 56%;
    width: 100%;
    & h5 {
      font-size: 14px;
    }
  }
  .info a {
    font-size: 10px;
    padding: 0.3rem 1rem;
  }
}
