.relative {
  position: relative;
}
.filterRange {
  z-index: 100;
  position: absolute;
  top: -30%;
  left: -80%;
  width: 1105px;
  box-shadow: 0px 3px 6px #0000001d;
  background: #ffffff;
  padding: 15px;
}

.contentFilter {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_Month {
    padding: 2rem 0 11rem 0;
  }
  &_Range {
    padding: 0 0 1rem 0;
  }
  & ul {
    display: flex;
    padding-left: 0;
  }
  & ul li {
    display: flex;
    list-style: none;
    padding: 10px 30px;
    & label {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 17px;
    }
  }
  & ul li input[type="radio"] {
    visibility: hidden;
    -webkit-appearance: none;
  }
  & ul li input[type="radio"] + label {
    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      margin-right: 11px;
      background: $gray-1;
      border-radius: 100%;
    }
  }
  & ul li input[type="radio"]:checked + label {
    & span::after {
      content: "";
      width: 100%;
      height: 100%;
      background: $gray-5;
      border-radius: 100%;
    }
  }
  & select:hover {
    border: 1px solid $purple-1;
  }
  & select:focus {
    box-shadow: 0 0 15px 2px $purple-1;
    border-color: $purple-1;
  }
}

.filterBtn {
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    width: auto;
    height: 43px;
    padding: 0 1rem;
    background: #ecebed;
    color: #1e1e3f;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: bold;
    font-size: 14px;
  }