.flexBox {
  display: flex;
}

.customCheck {
  & input[type="checkbox"] {
    transform: scale(3.5);
  }
}

@media (max-width: $breakpoint-xxl) {
  .flexBox {
    flex-direction: column;
  }
}

@media (max-width: $breakpoint-sm) {
  .checkFieldMobile {
    width: 220px;
  }
  .customCheck {
    & input[type="checkbox"] {
      transform: scale(3.5);
    }
  }
}
