.card{
    position: relative;
}

.card p{
    font-size: 14px;
    width: 65%;
}

.cardExhibition1{
    position: absolute;
    bottom: 7px;
    padding: 3rem;
    width: 100%;
    background: #000000ab;
    color: #fff;
    pointer-events: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.cardExhibition1MouseOver{
    position: absolute;
    bottom: 7px;
    padding: 3rem;
    height: 50%;
    width: 100%;
    background: #000000b4;
    color: #fff;
    opacity: 0;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.card:hover > .cardExhibition1{
    opacity: 0;
}
.card:hover > .cardExhibition1MouseOver{
    opacity: 1;
}

.cardExhibition2{
    position: absolute;
    bottom: 7px;
    padding: 1rem 3rem;
    width: 100%;
    background: #000000ab;
    color: #fff;
    pointer-events: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.cardExhibition2MouseOver{
    position: absolute;
    bottom: 7px;
    padding: 3rem;
    height: 100%;
    width: 100%;
    background: #000000b4;
    color: #fff;
    opacity: 0;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.card:hover > .cardExhibition2{
    opacity: 0;
}
.card:hover > .cardExhibition2MouseOver{
    opacity: 1;
}

.cardExhibition3{
    position: absolute;
    bottom: 7px;
    padding: 1rem 3rem;
    width: 100%;
    background: #000000ab;
    color: #fff;
    pointer-events: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.cardExhibition3MouseOver{
    position: absolute;
    bottom: 7px;
    padding: 2rem 3rem;
    height: 97%;
    width: 100%;
    background: #000000b4;
    color: #fff;
    opacity: 0;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.card:hover > .cardExhibition3{
    opacity: 0;
}
.card:hover > .cardExhibition3MouseOver{
    opacity: 1;
}

@media (max-width:1400px){
    .card p{
        font-size: 13px;
        width: 100%;
    }
    .card h4{
        font-size: 20px;
    }
    .cardExhibition1MouseOver{
        padding: 2rem 3rem;
        height: 60%;
    }
    .cardExhibition2MouseOver{
        padding: 1rem 2rem;
        height: 98%;
    }
    .cardExhibition3MouseOver{
        padding: 1rem 2rem;
        height: 98%;
    }
}
@media (max-width:478px){
    .card p{
        font-size: 11px;
        width: 100%;
        margin-bottom: 0;
    }
    .card h4{
        font-size: 17px;
    }
    .cardExhibition2MouseOver{
        padding: 1rem;
    }
    .cardExhibition3MouseOver{
        padding: 1rem ;
        height: 96%;
    }
    .card  a{
        margin-top: .8rem;
        padding: 0.5rem 2rem;
    }
}
@media (max-width:478px){
    .card p{
        font-size: 11px;
        line-height: 12px;
    }
    .card h4{
        font-size: 16px;
    }
    .cardExhibition1MouseOver{
        padding: 1rem .5rem;
    }
    .cardExhibition2MouseOver{
        padding: .6rem;
    }
    .cardExhibition3MouseOver{
        padding: .6rem ;
        height: 96%;
    }
    .card  a{
        margin-top: .8rem;
        padding: 0.5rem 2rem;
        width: 230px;
    }
}
@media (max-width:360px){
    .card p{
        font-size: 10px;
        line-height: 11px;
    }
    .card h4{
        font-size: 14px;
    }
}