.wrapperRooms {
  transition: ease-in-out 0.3s all;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  overflow: hidden;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  z-index: -1;
  background-color: #000;
}

.roomsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
}

.cardRooms {
  border: 1px solid rgba(153, 153, 153, 0.29);
  height: 13rem;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.3s linear;
  margin-left: -1px;
  margin-bottom: -1px;
  cursor: pointer;

  &:nth-last-child(-n + 3) {
    height: 0;
  }

  &::after {
    content: "";
    padding: 4px;
    background: #ffffff36;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }
  &:nth-child(3n)::before {
    content: "";
    padding: 4px;
    background: #ffffff36;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }
}

.cardRooms:hover ~ .wrapperRooms {
  background-image: url(/assets/rooms/img1.png);
}

.corner1 {
  padding: 0.2rem;
  background: #ffffff36;
  position: absolute;
  top: -4px;
  left: -4px;
}
.corner2 {
  padding: 0.2rem;
  background: #ffffff36;
  position: absolute;
  top: -4px;
  right: -4px;
}
.corner3 {
  padding: 0.2rem;
  background: #ffffff36;
  position: absolute;
  bottom: -4px;
  left: -4px;
}
.corner4 {
  padding: 0.2rem;
  background: #ffffff36;
  position: absolute;
  bottom: -4px;
  right: -4px;
}

.roomInfo {
  display: flex;
  align-items: center;
  background: #ffffff1a;
  position: absolute;
  bottom: 0;
  left: 0px;
  top: 0;
  width: 100%;
  pointer-events: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.4s linear;
}

.roomInfo a {
  color: $red-5;
  display: block;
  line-height: 1rem;
  padding-left: 24px;
  pointer-events: fill;
  cursor: pointer;
}

@include media(xs) {
  .wrapperRooms {
    background-position: center;
    background-size: contain;
  }
}
