.infoServices {
    margin-top: 5rem;
    background-color: rgba(50, 50, 50);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 541px;
}

.educationalCommunity {
    background-image: url(../../../../public/assets/services/img1.png);
}

@include media(xs) {
    .infoServices {
        margin-top: 12rem;
    }
    .educationalCommunity {
        background-image: url(../../../../public/assets/services/img1Responsive.png);
    }
    .enterprises {
        background-image: url(../../../../public/assets/services/img1Responsive.png);
    }
    .generalPublic {
        background-image: url(../../../../public/assets/services/img1Responsive.png);
    }
}

.enterprises {
    background-image: url(../../../../public/assets/services/img2.png);
}

.generalPublic {
    background-image: url(../../../../public/assets/services/img2.png);
}