/***********************  accesibilidad ***********************/
.bgAcces{
    background-color: #646470a3;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1100;
}
.bgAcces .mainAcces{
    background-color: #FFF;
    padding: 46px 0;
    overflow: scroll;
    position: relative;
}
.bgAcces .mainAcces hr{
    background: #202020;
    border-top: unset;
    height: .1px;
    margin-bottom: 1.5rem;
    width: 98%;
}

.bgAcces .cardAccesibility{
    margin: 0 ;
    text-align: center;
    width: 137px;
}
.bgAcces .cardAccesibility a{
    display: inline-block;
    margin: auto;
    width: 100px;
}
.bgAcces .cardAccesibility button{
    height: 50px;
    width: 50px;
    outline: none;
}
.bgAcces .divClose{
    background-color: $red-3;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    height: 50px;
}
.bgAcces .divClose .btnClose{
    left: 15px;
    top:8px;
    position: absolute;
    cursor: pointer;
}

.bgAccesNone{
    background-color: rgba(255, 255, 255, 0);
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1100;
}
.bgAccesNone .mainAcces{
    background-color: #FFF;
    padding: 46px 0;
    overflow: scroll;
    position: relative;
}
.bgAccesNone .divClose{
    background-color: $red-3;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    height: 50px;
}

.BtnAccesibility{
    background: #ececf3bf;
    border: unset;
    padding: .9rem 1.2rem;
    position: fixed;
    right: 0;
    top: 200px;
    z-index: 1081;
}

.activeAccesibility{
    background-color: $red-2;
}
.activeAccesibility h6{
    color: $gray-4 !important;
}
.btnActive{
    background-color: $red-2 !important;
}
.customCursor{
    background-color: $red-3;
    border: 1px solid $gray-4;
    height: 5px;
    position: absolute;
    width: 260px;
    z-index: 1080;
}

@include media(xs) {
    .bgAcces img{
        width: 38px !important;
    }
    .bgAcces .cardAccesibility a{
       font-size: 10px;
    }
}