@media (max-width: 580px) {
  .mobileDomo {
    overflow-y: hidden;
    overflow-x: scroll;
  }
}
.mobileDomo::-webkit-scrollbar {
  -webkit-appearance: none;
}
.mobileDomo::-webkit-scrollbar:horizontal {
  width: 80%;
  height: 10px;
  background: $gray-3;
  border-radius: 20px;
}
.mobileDomo::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button:decrement {
  display: none;
} 
.mobileDomo::-webkit-scrollbar-thumb {
  background-color: $red-2;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
