.datePickerFilter_container {
    position: relative;
    top: 30px;
    margin-bottom: 65px;
    border-radius: 1rem;
    border: 1px solid #F2F2F7;
}

.datePickerFilter_container .react-calendar {
    border: none;
}

.Calendar {
    font-size: 15px!important;
}