.link {
  font-weight: 500;
  font-size: 0.86rem;
  text-decoration: underline;
  padding: 2% 0 20% 0;
  &:hover {
    color: $red-3;
  }
}
.buttonContainer {
  display: flex;
  padding: 45px 0 0 0;
  gap: 2%;
}

.addCartButton {
  position: relative;
  width: 288px;
  height: 60px;
  background: none;
  color: #44444a;
  border: 1px solid #44444a;
  cursor: pointer;
  & p {
    font-weight: 700;
    font-size: 0.875rem;
  }
  & i {
    position: absolute;
    left: 5%;
  }
}

.shopNowButton {
  position: relative;
  width: 288px;
  height: 60px;
  background: $red-3;
  color: $white;
  cursor: pointer;
  border: none;
  & i {
    position: absolute;
    right: 3%;
    top: 35%;
  }
}

.isMobile {
  display: none;
}
.isHiddenMobile {
  display: flex;
}

@media (max-width: 990px) {
  .link {
    padding: 2% 0 3% 0;
  }
}

@media (max-width: 530px) {
  .buttonContainer {
    flex-direction: column;
  }
  .addCartButton {
    height: 45px;
    width: 100%;
  }
  .shopNowButton {
    height: 45px;
    width: 100%;
    margin-top: 2%;
    & i {
      top: 25%;
    }
  }
  .link {
    padding: 0;
  }
  .mobileFlex {
    flex-direction: column;
    align-items: center;
    padding: 10% 0 28% 0;
  }
  .isMobile {
    display: flex;
  }
  .isHiddenMobile {
    display: none;
  }
  .paddingMobile {
    padding-top: 3rem;
  }
}
