.buttonbar{
    display: inline-block;
  }
  .buttonbar a{
    display: inline-block;
    font-size: 14px;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.1rem 2.2rem;
  }
  .buttonbar hr{
    height: 12px;
    margin-top: 0px;
    width: 40%;
    opacity: 1
  }

  @media (max-width: 768px){
    .buttonbar a{
      font-size: 11px;
      padding: 1rem 1.8rem;
      margin-top: 1rem;
    }
  }