.summaryBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.amountBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding: 0 12px;
  width: 138px;
  height: 34px;
  background: #f2f2f7;
  & i {
    color: #81818d;
  }
}

.placeToPay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  max-width: 407.46px;
  height: 56px;
  border-radius: 3%;
  border: 1px solid $gray-1;
  background: #f2f2f2;
  & p {
    color: gray;
  }
}

.isLink {
  text-decoration: underline;
  margin: 0%;
  cursor: pointer;
  &:hover {
    color: $red-3;
  }
}

.isLinkGray {
  font-size: 1rem;
  text-decoration: underline;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
  color: #b7b7c1;
  cursor: pointer;
  &:hover {
    color: $red-3;
  }
}

.totalDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 13px;
  width: 100%;
  height: 60px;
  background: $gray-1;
  & p {
    margin: 0;
    font-weight: 700;
    font-size: 1rem;
  }
}

.shopBtn {
  margin-bottom: 13px;
  position: relative;
  width: 100%;
  height: 60px;
  background: $red-3;
  color: $white;
  border: none;

  & i {
    font-size: 16px;
    position: absolute;
    right: 7%;
    top: 35%;
  }
}

.goToShopBtn {
  width: 100%;
  height: 60px;
  border: 1px solid #44444a;
}

.flexBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.875rem 0;
}
.summaryBoxMobile {
  display: none;
}
@media (max-width: $breakpoint-xxl) {
  .flexBox {
    flex-direction: column-reverse;
  }
}
@media (max-width: $breakpoint-sm) {
  .summaryBox {
    display: none;
  }
  .summaryBoxMobile {
    display: block;
  }
  .amountBtn {
    width: 93px;
    height: 43px;
  }
  .totalDisplay {
    & p {
      font-size: 14px;
    }
  }
  .isLink {
    margin-bottom: 1rem;
  }
}
