@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("../../public/assets/fonts/IconsExplora/IconsExplora.eot?to6m8r");
  src: url("../../public/assets/fonts/IconsExplora/IconsExplora.eot?to6m8r#iefix")
      format("embedded-opentype"),
    url("../../public/assets/fonts/IconsExplora/IconsExplora.ttf")
      format("truetype"),
    url("../../public/assets/fonts/IconsExplora/IconsExplora.woff")
      format("woff"),
    url("../../public/assets/fonts/IconsExplora/IconsExplora.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-explora {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-less {
  &:before {
    content: $icon-less;
  }
}
.icon-cart {
  &:before {
    content: $icon-cart;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-plus-b {
  &:before {
    content: $icon-plus-b;
  }
}
.icon-eye {
  &:before {
    content: $icon-eye;
  }
}
.icon-planetary {
  &:before {
    content: $icon-planetary;
  }
}
.icon-play-circle {
  &:before {
    content: $icon-play-circle;
  }
}
.icon-fullpack {
  &:before {
    content: $icon-fullpack;
  }
}
.icon-teacher {
  &:before {
    content: $icon-teacher;
  }
}
.icon-clock-c {
  &:before {
    content: $icon-clock-c;
  }
}
.icon-chair {
  &:before {
    content: $icon-chair;
  }
}
.icon-triangle-bot {
  &:before {
    content: $icon-triangle-bot;
  }
}
.icon-triangle-top {
  &:before {
    content: $icon-triangle-top;
  }
}
.icon-triangle-right {
  &:before {
    content: $icon-triangle-right;
  }
}
.icon-triangle-left {
  &:before {
    content: $icon-triangle-left;
  }
}
.icon-warning {
  &:before {
    content: $icon-warning;
  }
}
.icon-location-c {
  &:before {
    content: $icon-location-c;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-client {
  &:before {
    content: $icon-client;
  }
}
.icon-arrow-c-right {
  &:before {
    content: $icon-arrow-c-right;
  }
}
.icon-arrow-c-left {
  &:before {
    content: $icon-arrow-c-left;
  }
}
.icon-arrow-c-top {
  &:before {
    content: $icon-arrow-c-top;
  }
}
.icon-arrow-c-bot {
  &:before {
    content: $icon-arrow-c-bot;
  }
}
.icon-certificate-excellence {
  &:before {
    content: $icon-certificate-excellence;
  }
}
.icon-Traveller-choise {
  &:before {
    content: $icon-Traveller-choise;
  }
}
.icon-microbiology-udea {
  &:before {
    content: $icon-microbiology-udea;
  }
}
.icon-best-aquarium {
  &:before {
    content: $icon-best-aquarium;
  }
}
.icon-planet-store {
  &:before {
    content: $icon-planet-store;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-planet-ticket {
  &:before {
    content: $icon-planet-ticket;
  }
}
.icon-about-b {
  &:before {
    content: $icon-about-b;
  }
}
.icon-gift-ticket {
  &:before {
    content: $icon-gift-ticket;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-right-cirlcle {
  &:before {
    content: $icon-arrow-right-cirlcle;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-store {
  &:before {
    content: $icon-store;
  }
}
.icon-about {
  &:before {
    content: $icon-about;
  }
}
.icon-currency-circle {
  &:before {
    content: $icon-currency-circle;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-arrow-up-cirlcle {
  &:before {
    content: $icon-arrow-up-cirlcle;
  }
}
.icon-location {
  &:before {
    content: $icon-location;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-city {
  &:before {
    content: $icon-city;
  }
}
.icon-ticket {
  &:before {
    content: $icon-ticket;
  }
}
.icon-ticket-pack {
  &:before {
    content: $icon-ticket-pack;
  }
}
.icon-location-b {
  &:before {
    content: $icon-location-b;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-down-cirlcle {
  &:before {
    content: $icon-arrow-down-cirlcle;
  }
}
.icon-clock-b {
  &:before {
    content: $icon-clock-b;
  }
}
.icon-users {
  &:before {
    content: $icon-users;
  }
}
.icon-percentage {
  &:before {
    content: $icon-percentage;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-left-cirlcle {
  &:before {
    content: $icon-arrow-left-cirlcle;
  }
}
.icon-planet {
  &:before {
    content: $icon-planet;
  }
}
.icon-family {
  &:before {
    content: $icon-family;
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
