.is {
  &-size {
    &-1 {
      font-size: 4.0625rem;
    }
    &-2 {
      font-size: 3.75rem;
    }
    &-3 {
      font-size: 3.125rem;
    }
    &-4 {
      font-size: 2.5rem;
    }
    &-5 {
      font-size: 1.68rem;
    }
    &-6 {
      font-size: 1.375rem;
    }
    &-7 {
      font-size: 1.125rem;
    }
    &-8 {
      font-size: 1rem;
    }
    &-9 {
      font-size: 0.875rem;
    }
    &-semibold {
      font-weight: 600;
    }
    &-bold {
      font-weight: 700;
    }
    &-extrabold {
      font-weight: 800;
    }
  }

  &-light {
    font-weight: 200 !important;
  }
  &-regular {
    font-weight: 400 !important;
  }
  &-semibold {
    font-weight: 600 !important;
  }
  &-bold {
    font-weight: 700 !important;
  }
  &-extrabold {
    font-weight: 800 !important;
  }
}

@media(max-width: $breakpoint-xxl) {
  .is {
    &-size {
      &-1 {
        font-size: 2.625rem !important;
      }
      &-2 {
        font-size: 2.625rem !important;
      } 
      &-3 {
        font-size: 1.875rem !important;
      }
      &-4 {
        font-size: 1.6875rem !important;
      }
      &-5 {
        font-size: 1.25rem !important;
      }
      &-6 {
        font-size: 1.125rem !important;
      }
      &-7 {
        font-size: 0.875rem !important;
      }
      &-8 {
        font-size: 0.8rem !important;
      }
      &-9 {
        font-size: 0.8125rem !important;
      }
    }
  }
}

@media(max-width: $breakpoint-sm) {
  .is {
    &-size {
      &-1 {
        font-size: 2.625rem !important;
      }
      &-2 {
        font-size: 2.625rem !important;
      }
      &-3 {
        font-size: 1.875rem !important;
      }
      &-4 {
        font-size: 1.6875rem !important;
      }
      &-5 {
        font-size: 1.25rem !important;
      }
      &-6 {
        font-size: 1.125rem !important;
      }
      &-7 {
        font-size: 0.875rem !important;
      }
      &-8 {
        font-size: 0.8125rem !important;
      }
      &-9 {
        font-size: 0.8125rem !important;
      }
    }
  }
}
