.counterButton {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  padding: 0 15px;
  background: #f2f2f7;
  width: 148px;
  height: 60px;
}

.addCartButton {
  display: flex;
  align-items: center;
  width: 70%;
  height: 60px;
  background: none;
  color: #44444a;
  border: 1px solid #44444a;
  padding: 0 19px;
  cursor: pointer;
  & p {
    padding: 0 20%;
    font-weight: 700;
    font-size: 0.875rem;
  }
}

.shopNowButton {
  position: relative;
  width: 77.7%;
  height: 60px;
  background: $red-3;
  color: $white;
  padding: 0 19px;
  cursor: pointer;
  border: none;
  margin-top: 1%;
  & i {
    position: absolute;
    right: 3%;
    top: 35%;
  }
}

.extraData {
  width: 77.7%;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: underline;
  & p {
    margin: 0;
    padding: 16px 0;
  }
  & i {
    font-size: 0.8rem;
  }
}

.less {
  font-size: 0.14rem;
}
.plus,
.less {
  color: #727274;
}

.isMobile {
  display: none;
}
.isHiddenMobile {
  display: flex;
}

@media (max-width: 560px) {
  .counterButton {
    height: 45px;
  }
  .addCartButton {
    width: 100%;
    height: 45px;
  }
  .shopNowButton {
    width: 100%;
    height: 45px;
    margin-top: 2%;
    & i {
      position: absolute;
      right: 3%;
      top: 30%;
    }
  }
  .extraData {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    & p {
      margin: 0;
      padding: 0;
    }
  }
  .mobilePadding {
    padding: 2rem 0;
  }
  .mobileMarginBot {
    padding: 0 0 2rem 0;
  }
  .isMobile {
    display: flex;
  }
  .isHiddenMobile {
    display: none;
  }
}
