.txtCompra {
  color: #44444a;
  font-weight: 700;
  font-size: 1.1rem;
}
.txtSubtitle {
  font-size: 15px;
  font-weight: 400;
}
.txtTitleSummary {
  color: #44444a;
  font-size: 20px;
  font-weight: 800;
}
