.cardPortfolio {
    margin-bottom: 56px;
}

.cardPortfolio_Info {
    padding: 0 25px 14px;
    border: 0.3px solid $gray-2;
    background: $white;
    & h5 {
        min-height: 47px;
        margin-bottom: 14px;
    }
}