.isMobile {
  display: none;
}

.isHiddenMobile {
  display: block;
}

.progressBox{
  background: #fff;
  box-shadow: 0px 3px 6px #00000029;
}

@media (max-width: 1200px) {
  .isMobile {
    display: block;
  }
  .isHiddenMobile {
    display: none;
  }
}

@media (max-width: 530px) {
  .progressBox{
    box-shadow: none;
  }
}