.cartOverlay {
  position: absolute;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
  width: 99px;
  height: 79px;
  top: 8%;
  right: 12%;
  border: 3px solid $gray-2;
  border-radius: 15%;
}
.link {
  padding-top: 1.5rem;
  position: relative;
}
.btnLink {
  position: absolute;
  top: 28%;
  left: -4%;
  & i {
    font-size: 2.5rem;
  }
}

@media (max-width: 530px) {
  .cartOverlay {
    right: 8%;
  }
  .btnLink {
    position: absolute;
    top: 41%;
    left: 2.5%;
  }
  .link {
    padding-top: 2.5rem;
    padding-left: 2.3rem;
    position: relative;
  }
}
