.cardInfo{
    background-color: $red-3;
    padding: 4rem 1.2rem 1.5rem;
}
.cardInfo h4{
  color: #FFF;
  font-size: 17px;
  margin: 3rem 0 1rem;
  }
  .cardInfo a{
      background: #FFFFFF;
      color: #F45858;
      width: 90%;
      padding: .7rem 1rem;
      display: inline-block;
  }

  @media (max-width: 1399px){
    .cardInfo h4{
        font-size: 14px;
        }
  }