.buttonTransparent {
    // width: 482px;
    border: 0.4px solid #545454;
    padding: 0.8rem 3rem;
    & a {
        color: $white;
    }
    & .detailsButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & p {
            margin-bottom: 0;
            margin-left: 0.5rem;
            line-height: 42px;
        }
    }
}

@include media(sm) {
    .buttonTransparent {
        // width: 482px;
        padding: 0.8rem 2rem;
        border: none;
        & .detailsButton {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            & p {
                margin-top: 0.9rem;
                text-align: center;
                border: 0.4px solid #545454;
                padding: 0.8rem 1rem;
                font-size: 1.25rem;
                margin-left: 0;
            }
        }
    }
}