/********************************* contaste oscuro ***********************************/
html[data-contrast="Dark"] * {
    color: $white !important;
}

html[data-contrast="Dark"] > body,
html[data-contrast="Dark"] nav,
html[data-contrast="Dark"] .bg-secondary,
html[data-contrast="Dark"] #photoGallery, 
html[data-contrast="Dark"] #Tickes .card-body,  
html[data-contrast="Dark"] .overlay-item,
html[data-contrast="Dark"] .Filter_filter__Ylle1,
html[data-contrast="Dark"] .Accesibility_mainAcces__e89gO,
html[data-contrast="Dark"] .overlay-item * {
  background: $black-2 !important;
}

html[data-contrast="Dark"] .Footer_sectionfooter__deAnA{
    background-color: #282828 !important;
}

html[data-contrast="Dark"] .slick-slide,
html[data-contrast="Dark"] .CardProgramate_cardProgramate__yguyC{
  border: 1px solid #505050;
}

html[data-contrast="Dark"] .CardProgramate_cardProgramate__yguyC button,
html[data-contrast="Dark"] .CardProgramate_cardLocationCourse___aHID,
html[data-contrast="Dark"] .slick-slide .card-body .btn,
html[data-contrast="Dark"] .overlay-item .progress {
    background: #5c5c5c;
}
html[data-contrast="Dark"] .Information_cardInfo__IZi5q a {
  color: $black-2 !important;
}


/********************************* contraste claro *********************************/
html[data-contrast="Light"] main {
  filter: grayscale(48%) sepia(8%) brightness(101%) saturate(114%) opacity(85%) contrast(108%);
}
html[data-contrast="Light"] .section-navbar nav {
  filter: grayscale(48%) sepia(8%) brightness(101%) saturate(114%) opacity(85%) contrast(108%);
}
html[data-contrast="Light"] .Accesibility_bgAcces__GMHVH {
  bottom: 0;
  position: sticky;
}
html[data-contrast="Light"] .Accesibility_mainAcces__e89gO{
  margin-top: 5rem;
}
/********************************* contraste Alto *********************************/
html[data-contrast="High"] main {
  filter: brightness(110%) contrast(140%);
  -webkit-filter: brightness(110%) contrast(140%);
  -moz-filter: brightness(110%) contrast(140%);
}
html[data-contrast="High"] .section-navbar nav {
  filter: brightness(110%) contrast(140%);
  -webkit-filter: brightness(110%) contrast(140%);
  -moz-filter: brightness(110%) contrast(140%);
}
html[data-contrast="High"] .Accesibility_bgAcces__GMHVH {
  bottom: 0;
  position: sticky;
}
html[data-contrast="High"] .Accesibility_mainAcces__e89gO{
  margin-top: 5rem;
}

/********************************* Saturacion baja *********************************/
html[data-contrast="SaturationLight"] main {
  filter: saturate(51%);
  -webkit-filter: saturate(51%);
  -moz-filter: saturate(51%);
}
html[data-contrast="SaturationLight"] .section-navbar nav {
  filter: saturate(51%);
  -webkit-filter: saturate(51%);
  -moz-filter: saturate(51%);
}
html[data-contrast="SaturationLight"] .Accesibility_bgAcces__GMHVH {
  bottom: 0;
  position: sticky;
}
html[data-contrast="SaturationLight"] .Accesibility_mainAcces__e89gO{
  margin-top: 5rem;
}

/********************************* Saturacion Alta *********************************/
html[data-contrast="SaturationHigh"] main {
  filter: saturate(202%);
  -webkit-filter: saturate(202%);
  -moz-filter: saturate(202%);
}
html[data-contrast="SaturationHigh"] .section-navbar nav {
  filter: saturate(202%);
  -webkit-filter: saturate(202%);
  -moz-filter: saturate(202%);
}
html[data-contrast="SaturationHigh"] .Accesibility_bgAcces__GMHVH {
  bottom: 0;
  position: sticky;
}
html[data-contrast="SaturationHigh"] .Accesibility_mainAcces__e89gO{
  margin-top: 5rem;
}


/*************************** modo monocromatico ****************************************/
html[data-contrast="Monocromatico"] main *{
  filter: grayscale(95%);
  -webkit-filter: grayscale(95%);
  -moz-filter: grayscale(95%);
}
html[data-contrast="Monocromatico"] .section-navbar nav {
  filter: grayscale(95%);
  -webkit-filter: grayscale(95%);
  -moz-filter: grayscale(95%);
}
html[data-contrast="Monocromatico"] .Accesibility_bgAcces__GMHVH {
  filter: grayscale(95%);
  -webkit-filter: grayscale(95%);
  -moz-filter: grayscale(95%);
}

/*************************** resaltar titulos ****************************************/
html[data-highlightTitles="titles"] main h1,
html[data-highlightTitles="titles"] main h2,
html[data-highlightTitles="titles"] main h3,
html[data-highlightTitles="titles"] main h4,
html[data-highlightTitles="titles"] main h5,
html[data-highlightTitles="titles"] main h6{
  text-decoration: underline;
}
/*************************** resaltar enlaces ****************************************/
html[data-highlightLinks="links"] a,
html[data-highlightLinks="links"] button{
  text-decoration: underline;
}


/*************************** tamaño de letra menor ****************************************/

html[data-fontsize="less"] .fs-6,
html[data-fontsize="less"] .is-size-9,
html[data-fontsize="less"] p,
html[data-fontsize="less"] a,
html[data-fontsize="less"] span,
html[data-fontsize="less"] input,
html[data-fontsize="less"] button,
html[data-fontsize="less"] h6{
  font-size: 10px !important;
}
html[data-fontsize="less"] .is-size-8,
html[data-fontsize="less"] .fs-5,
html[data-fontsize="less"] h5{
  font-size: 12px !important;
}
html[data-fontsize="less"] .is-size-7{
  font-size: 14px !important;
}
html[data-fontsize="less"] .is-size-6,
html[data-fontsize="less"] .fs-4,
html[data-fontsize="less"] h4{
  font-size: 16px !important;
}
html[data-fontsize="less"] .is-size-5,
html[data-fontsize="less"] h3{
  font-size: 18px !important;
}
html[data-fontsize="less"] .is-size-4,
html[data-fontsize="less"] .fs-3{
  font-size: 19px !important;
}
html[data-fontsize="less"] .is-size-3{
  font-size: 20px !important;
}
html[data-fontsize="less"] .is-size-2,
html[data-fontsize="less"] .fs-2,
html[data-fontsize="less"] h2{
  font-size: 21px !important;
}
html[data-fontsize="less"] .is-size-1,
html[data-fontsize="less"] .fs-1,
html[data-fontsize="less"] h1{
  font-size: 22px !important;
}
/*************************** tamaño de letra mayor ****************************************/
html[data-fontsize="2x"] .fs-6,
html[data-fontsize="2x"] .is-size-9,
html[data-fontsize="2x"] p,
html[data-fontsize="2x"] a,
html[data-fontsize="2x"] span,
html[data-fontsize="2x"] input,
html[data-fontsize="2x"] button,
html[data-fontsize="2x"] h6{
  font-size: 17px !important;
}
html[data-fontsize="2x"] .is-size-8,
html[data-fontsize="2x"] .fs-5,
html[data-fontsize="2x"] h5{
  font-size: 20px !important;
}
html[data-fontsize="2x"] .is-size-7{
  font-size: 24px !important;
}
html[data-fontsize="2x"] .is-size-6,
html[data-fontsize="2x"] .fs-4,
html[data-fontsize="2x"] h4{
  font-size: 28px !important;
}
html[data-fontsize="2x"] .is-size-5,
html[data-fontsize="2x"] h3{
  font-size: 30px !important;
}
html[data-fontsize="2x"] .is-size-4,
html[data-fontsize="2x"] .fs-3{
  font-size: 34px !important;
}
html[data-fontsize="2x"] .is-size-3{
  font-size: 38px !important;
}
html[data-fontsize="2x"] .is-size-2,
html[data-fontsize="2x"] .fs-2,
html[data-fontsize="2x"] h2{
  font-size: 44px !important;
}
html[data-fontsize="2x"] .is-size-1,
html[data-fontsize="2x"] .fs-1,
html[data-fontsize="2x"] h1{
  font-size: 60px !important;
}
html[data-fontsize="2x"] .slick-slide .card-body .card-title {
  height: 70px;
}
  

/*************************** space Menor ****************************************/
html[data-space="short"] *{
  letter-spacing: -2px;
}
/*************************** space Mayor ****************************************/
html[data-space="long"] main{
  letter-spacing: 5px;
}
html[data-space="long"] nav{
  letter-spacing: 2px;
}
  

/*************************** interlineado Menor ****************************************/
html[data-lineHeight="short"] *{
  line-height: 1rem;
}
html[data-lineHeight="short"] .slider-title{
  line-height: 1.9rem;
}
/*************************** interlineado Mayor ****************************************/
html[data-lineHeight="long"] *,
html[data-lineHeight="long"] main span,
html[data-lineHeight="long"] main h6,
html[data-lineHeight="long"] main p{
  line-height: 2.5rem;
}
html[data-lineHeight="long"] h2{
  line-height: 3.2rem;
}
html[data-lineHeight="long"] .slider-title{
  line-height: 5rem;
}
html[data-lineHeight="long"] .slick-slide .card-body .card-title {
  height: 70px;
}
html[data-lineHeight="long"] .slick-active .act .colorline {
  bottom: -17px;
}

/************************* escalar contenido **********************************************/

@include media(xxl) {
  html[data-scaleContent="2x"] .container {
      max-width: 1380px;
  }
  html[data-scaleContent="less"] .container {
      max-width: 1200px;
  }
}
@include media(xxxl) {
  html[data-scaleContent="2x"] .container {
      max-width: 1520px;
  }
  html[data-scaleContent="less"] .container {
      max-width: 1200px;
  }
}
@include media(xl) {
  html[data-scaleContent="2x"] .container {
      max-width: 1200px;
  }
  html[data-scaleContent="less"] .container {
      max-width: 1080px;
  }
}
@include media(lg) {
  html[data-scaleContent="2x"] .container {
      max-width: 986px;
  }
  html[data-scaleContent="less"] .container {
      max-width: 900px;
  }
}
@include media(md) {
  html[data-scaleContent="2x"] .container {
      max-width: 740px;
  }
  html[data-scaleContent="less"] .container {
      max-width: 680px;
  }
}
@include media(sm) {
  html[data-scaleContent="2x"] .container {
      max-width: 540px;
  }
  html[data-scaleContent="less"] .container {
      max-width: 500px;
  }
}
@include media(xs) {
  html[data-scaleContent="2x"] .container {
      max-width: 100%;
  }
  html[data-scaleContent="less"] .container {
      max-width: 96%;
  }
}