.map {
  background: url("../../public/assets/taquilla/background-domo.svg");
  background-size: 100%;
  width: 750px;
  height: 550px;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

.chair {
  width: 30px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

.chairIdBox {
  width: 35px;
  height: 35px;
  background: $gray-4;
  border-radius: 13%;
}

.hover:hover * {
  fill: #f9d51d;
}

.content {
  display: flex;
}

@media (max-width: 580px) {
  .map {
    background: url("../../public/assets/taquilla/background-domo-mobile.svg");
    background-position: bottom;
  }
}
