.formError {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    color: #F45858; 
    padding-top: 3px;
    
}
.formDot {
    width: 4px;
    height: 4px;
    background: #F45858; 
    border-radius: 50%;
    margin-right: 5px;
}