/**************** Slide Principal ********************/

.slide-main {
  background-size: cover !important;
  background-position: center !important;
  height: 105vh;
  position: relative;
  display: flex;
  align-items: center;
  & .title-wrapper h2 {
    font-size: 58px;
  }
  & .main-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(50px);
    & p {
      font-size: 14px;
    }
    & .border-light {
      border-color: #9b9b9b !important;
    }
  }
}

.div-info {
  backdrop-filter: blur(50px);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem 1rem;
  color: #ccc;
  margin: auto;
  width: 60%;
  justify-content: center;
  & p {
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 1rem;
  }
}

/*************** Seccion programate *********************/

.card-date {
  position: absolute;
  top: 160px;
  left: 0;
  background: white;
}

.card-body {
  padding: 1rem 2rem;
}

.borderCard {
  // border: 1px solid $gray-4;
}

/***************** libreria slick-sliders ****************/

.section-home01 .slick-slide {
  border: none;
}

.section-carousel .slick-slider {
  & .slick-prev {
    left: -4%;
  }
  & .slick-next {
    right: -2%;
  }
}

.slick-slider {
  & .slick-prev:before,
  & .slick-next:before {
    font-size: 3rem;
    font-weight: 500;
    color: gray;
  }
}

.slick-slide {
  & .card-date p {
    font-size: 22px;
  }
  & .card-body {
    & p {
      color: #bbb;
    }
    & span {
      font-size: 14px;
    }
    & .card-title {
      color: #44444a;
      font-size: 16px;
      height: 45px;
    }
    & .card-text {
      color: #f45858;
      font-size: 14px;
    }
    & .btn {
      background: #e8e8ed;
      color: #707074;
      font-size: 14px;
      width: 90%;
    }
  }
}

.slick-active {
  &:nth-child(1n) .colorline {
    background-color: #93fc9b;
  }
  &:nth-child(2n) .colorline {
    background-color: #f9d41e;
  }
  &:nth-child(3n) .colorline {
    background-color: #f45858;
  }
  & .act {
    transform: translateY(-10px);
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    & .colorline {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 150px;
      height: 6px;
      transform: translateY(7px);
      transition: all 0.4s ease-out;
      -webkit-transition: all 0.4s ease-out;
      -moz-transition: all 0.4s ease-out;
    }
  }
}

@media (max-width: 1399px) {
  .card-date {
    position: absolute;
    top: 122px;
    left: 0;
    background: white;
  }
  .slick-slide .card-body .card-title {
    color: #44444a;
    font-size: 16px;
    height: 80px;
  }
  .slick-slide .card-body .card-text {
    color: #f45858;
    font-size: 13px;
  }
}

@media (max-width: 680px) {
  .section-carousel .slick-slider .slick-prev {
    left: 0px;
  }
  .section-carousel .slick-slider .slick-next {
    right: 10px;
  }
}

/**************** seccion destacados *******************************/

.section-home03 .slick-dots {
  /*left: 17%;
  width: 66%;*/
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
}

.section-home03 .slick-dots ul {
  display: flex;
  //flex-direction: column;
  justify-content: space-evenly;
  padding: unset;
}

.title-wrapper h2,
.title-wrapper p {
  width: 645px;
}

.section-home03 .slick-dots p {
  width: 55%;
}

.section-home03 .slick-dots ul li {
  height: auto;
  width: 100%;
  margin: 0;
}

.slick-slider .slick-next {
  right: 50px;
}

.slick-slider .slick-prev {
  left: 30px;
  z-index: 10;
}

.section-home03 .slick-slider .slick-prev:before,
.section-home03 .slick-slider .slick-next:before {
  font-size: 3rem;
  font-weight: 500;
  color: white;
}

@media (max-width: 1440px) {
  .slick-dots {
    left: 6%;
    width: 88%;
  }
  .section-home03 .slick-dots p {
    width: 52%;
  }
}

@media (max-width: 1366px) {
  .section-home03 .slick-dots {
    left: 10%;
    width: 80%;
  }
  .section-home03 .slick-dots p {
    width: 62%;
  }
}

@media (max-width: 1300px) {
  .slick-dots {
    left: 8%;
    width: 84%;
  }
}

@media (max-width: 1080px) {
  .slick-dots {
    left: 8%;
    width: 84%;
  }
}

@media (max-width: 680px) {
  .slick-slider .slick-prev {
    left: 2px;
  }
  .slick-slider .slick-next {
    right: 12px;
  }
  .section-home03 .slide-main .title-wrapper h2 {
    font-size: 33px;
  }
  .title-wrapper h2,
  .title-wrapper p {
    width: 96%;
  }
}

@media (max-width: 1366px) {
  .section-home03 .slick-dots {
    left: 10%;
    width: 80%;
  }
  .section-home03 .slick-dots p {
    width: 62%;
  }
}

@media (max-width: 1300px) {
  .slick-dots {
    left: 8%;
    width: 84%;
  }
}

@media (max-width: 1080px) {
  .slick-dots {
    left: 8%;
    width: 84%;
  }
}

@media (max-width: 680px) {
  .slick-slider .slick-prev {
    left: 2px;
  }
  .slick-slider .slick-next {
    right: 12px;
  }
  .section-home03 .slide-main .title-wrapper h2 {
    font-size: 33px;
  }
  .title-wrapper h2,
  .title-wrapper p {
    width: 96%;
  }
}

/******************** Contratanos  **************************/
#Contratanos {
  & [class^="col-"] {
    min-height: 600px;
    background-size: cover !important;
    background-position: center !important;

    &:nth-child(1) hr {
      color: $green-3;
    }
    &:nth-child(2) hr {
      color: $yellow-3;
    }
    &:nth-child(3) hr {
      color: $white;
    }
    & hr {
      height: 7px;
      opacity: 1;
    }
  }
}
@media (max-width: $breakpoint-lg) {
  #Contratanos {
    & [class^="col-"] {
      min-height: 250px;
      border-bottom: 1px solid #fff;
      & .btn {
        background-color: transparent;
        border-color: $white;
        width: auto !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        &:hover {
          background-color: $white;
          color: $red-3 !important;
        }
      }
      & hr {
        display: none;
      }
    }
  }
}

// @media (max-width: 1080px) {
//   .section-005 .Components_buttonbar__p5_xM{
//     width: 270px;
//   }
// }

/****************************** seccion redes **********************/

.section-home06 hr {
  border: 0;
  border-top: 2px solid #f6571e;
  margin: 0;
  text-align: center;
}

.section-home06 button {
  background: transparent;
  border: none;
}

/******************* media queries general del home *************************/

@media (max-width: 1200px) {
  .card-date {
    position: absolute;
    top: 96px;
    left: 0;
    background: white;
  }
}

@media (max-width: 991px) {
  .slide-main {
    background-size: cover !important;
    display: flex;
    align-items: center;
  }
  .slide-main .title-wrapper h2 {
    font-size: 35px;
  }
}

@media (max-width: 520px) {
  .card-date {
    position: absolute;
    top: 170px;
    left: 0;
    background: white;
  }
  .slide-main .title-wrapper a {
    font-size: 11px;
    margin-top: 1rem;
  }
  .div-info {
    width: 84%;
  }
  .div-info p {
    font-size: 12px;
  }
  .section-home04 .slick-slide .card-body span {
    font-size: 13px;
  }
  .slick-slider .slick-slide .position-relative span {
    width: 100% !important;
  }
}

@media (max-width: 360px) {
  .card-date {
    top: 135px;
  }
  .section-home04 .slick-slide .card-body span {
    font-size: 11px;
  }
}

@media (max-width: 360px) {
  .card-date {
    top: 135px;
  }
  .section-home04 .slick-slide .card-body span {
    font-size: 11px;
  }
}
