#photoGallery {
  background-color: $gray-3;
  padding-top: 2rem;
  & .image-gallery-slide-wrapper {
    margin: auto;
    max-width: 1140px;
  }
  & .bottom.fullscreen .image-gallery-slide-wrapper {
    max-width: 73%;
  }

  & .image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal {
    border-top: 1px solid #dfdfdf;
    padding: 35px 0;
    margin-top: 3rem;
  }

  & .image-gallery-thumbnails {
    overflow: hidden;
    width: 72%;
    left: 10%;
    position: relative;
  }

  & .image-gallery-index {
    right: 20px;
    top: unset;
    bottom: -140px;
    background: rgb(255 255 255 / 0%);
    color: #323232;
    font-weight: bold;
  }
  & .image-gallery-slide .image-gallery-image {
    object-fit: cover;
  }

  & .image-gallery-right-nav {
    right: -105px;
  }

  & .image-gallery-left-nav {
    left: -105px;
  }

  & .image-gallery-thumbnail.active {
    padding-bottom: 0.5rem;
    border: unset;
    border-bottom: 4px solid $red-3;
  }

  & .image-gallery-slide .image-gallery-description {
    bottom: 0px;
    padding: 25px 20px;
    text-align: left;
    width: 100%;
  }

  & .image-gallery-fullscreen-button {
    bottom: unset;
    top: 0;
    width: 100%;
    height: 100%;
  }

  & .image-gallery-fullscreen-button .image-gallery-svg {
    position: absolute;
    top: 2px;
    right: 4px;
  }

  & .image-gallery-icon:hover {
    color: #ffffff;
  }
}

#shopGallery {
  & .image-gallery-thumbnails .image-gallery-thumbnails-container {
    text-align: start !important;
  }
  & .image-gallery-thumbnail.active {
    padding-bottom: 0.5rem;
    border: unset;
    border-bottom: 4px solid #f45858;
  }
}

@include media(xl) {
  #photoGallery {
    & .image-gallery-slide-wrapper {
      max-width: 890px;
    }
    & .image-gallery-right-nav {
      right: -65px;
    }

    & .image-gallery-left-nav {
      left: -65px;
    }
    & .image-gallery-thumbnails {
      width: 59%;
      left: 17%;
    }
  }
}
@include media(lg) {
  #photoGallery {
    & .image-gallery-slide-wrapper {
      max-width: 690px;
    }
    & .image-gallery-thumbnails {
      width: 53%;
      left: 20%;
    }
  }
}

@include media(md) {
  #photoGallery {
    & .image-gallery {
      padding: 0rem 0rem;
    }
    & .image-gallery-thumbnail {
      width: 68px;
    }
    & .image-gallery-slide-wrapper {
      max-width: 580px;
    }
    & .image-gallery-right-nav {
      right: -55px;
    }

    & .image-gallery-left-nav {
      left: -55px;
    }
    & .image-gallery-index {
      right: -12px;
    }
    & .image-gallery-thumbnails {
      width: 67%;
      left: 10%;
    }
  }
}
@include media(sm) {
  #photoGallery {
    & .image-gallery-slide-wrapper {
      max-width: 80%;
    }
    & .bottom.fullscreen .image-gallery-slide-wrapper {
      max-width: 100%;
    }
    & .icon-explora {
      font-size: 22px;
    }

    & .image-gallery-right-nav {
      right: -38px;
    }

    & .image-gallery-left-nav {
      left: -38px;
    }
    & .image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal {
      border-top: 1px solid #dfdfdf;
      padding: 15px 0;
      margin-top: 2rem;
    }
    & .image-gallery-slide .image-gallery-image {
      height: 410px;
      object-fit: cover;
      object-position: 75%;
      width: 100%;
    }
    & .image-gallery-index {
      right: 0px;
      bottom: -100px;
    }
  }
}

@media (max-width: $breakpoint-xs) {
  #photoGallery {
    & .image-gallery-thumbnails {
      margin-left: 2rem;
      padding: 20px 5px;
      position: static;
    }
    & .image-gallery-right-nav {
      right: -32px;
    }

    & .image-gallery-left-nav {
      left: -32px;
    }
  }
}
