#Infobar {
  background-color: #ffffff21;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  padding-right: 15%;
  & [class*="col"] {
    display: flex;
    align-items: center;
    padding: 2rem;
    border-right: 1px solid;
    &:last-child {
      border-right: 0;
    }
    & h6 {
      font-size: 0.9rem;
      font-weight: 900;
    }
    & p {
      font-size: 0.9rem;
      font-weight: 300;
      margin: 0;
    }
    & .icon-explora {
      font-size: 1.5rem !important;
      margin-right: 10px;
    }
  }
  & a:hover {
    color: #fff;
    background: #ffffff05;
  }
  /* Responsive Exlplora */
  @media (max-width: $breakpoint-xl) {
    padding-right: 5%;
  }
  @media (max-width: $breakpoint-lg) {
    padding: 0;
    & [class*="col"] {
      border-right: 0;
      display: none !important;
      &:nth-child(2n) {
        display: flex !important;
      }
    }
  }
}

/* Planetary */
.planetary {
  & #Infobar {
    & [class*="col"] {
      & h6 {
        font-weight: 700;
        margin-bottom: 0;
      }
      & p {
        font-weight: 200;
      }
    }
  }
  /* Responsive Planetary */
  @media (max-width: $breakpoint-lg) {
    & #Infobar {
      margin: auto;
      display: table;
      right: 0;
      left: 0;
      margin-bottom: 4px;
      border-bottom: 1px solid;
      border-color: #fff7 !important;
      border-right: 1px solid;
      & [class*="col"] {
        padding: 1rem 3rem;
        & h6 {
          display: none;
        }
      }
    }
  }
}
