/*---- OVERLAY BANNER FLUJO ----*/
.overlay-box {
  position: relative;
}

.overlay-item {
  position: relative;
  margin-top: -7%;
}

.overlay-button {
  position: absolute;
  cursor: pointer;
  top: 7%;
  left: 2%;
}

@media (max-width: 520px) {
  .overlay-box {
    margin-top: 20%;
  }
  .overlay-item {
    margin-top: 0;
  }
  .overlay-button {
    position: absolute;
    top: 3%;
    left: 2%;
  }
}

/*----- Banner Compra -----*/

.is-mobile {
  display: none;
}

.is-hidden-mobile {
  display: block;
}

@media (max-width: 520px) {
  .is-mobile {
    display: block;
  }
  .is-hidden-mobile {
    display: none;
  }
}
/*---- Progress Bar ----*/

.w-progress {
  width: 780px;
}
.progress {
  height: 1px;
}
.progress-bar {
  width: 0%;
  &.step-1 {
    width: 30%;
  }
  &.step-2 {
    width: 65%;
  }
  &.step-3 {
    width: 100%;
  }
}
.btn-progress {
  font-size: 26px;
  width: 3rem;
  height: 3rem;
}

@media (max-width: 1200px) {
  .w-progress {
    width: auto;
    padding: 0 35px;
  }
}

/*------- Flujo Compra --------*/

.cm-3 {
  margin-top: 0;
}

.counter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  width: 47px;
  height: auto;
  border: 1px solid #a4a5a8;
}

.btn-center {
  width: 320px;
  padding-top: 18px;
  margin: 0 auto;
}

.isDisable{
  width: 34px;
  height: 34px;
  background: #B7B7C1;
  border-radius: 100%;
}

@media (max-width: 520px) {
  .cm-3 {
    margin-top: 27px;
  }
  .btn-center {
    width: 320px;
    padding-top: 25px;
    margin: 0 auto;
  }
}

/// CHECK BUTTON MODAL ///

.check-btn {
  width: 50px;
  height: 50px;
}

.info-box {
  display: flex;
  align-items: center;
  color: $black-1;
  height: 130px;
  margin: 0 105px;
  border-top: 1px solid $gray-4;
  // border-bottom: 1px solid $gray-4;
}

@media (max-width: 520px) {
  .info-box {
    height: 150px;
    margin: 0 8px;
    border-top: 1px solid $gray-4;
    // border-bottom: 1px solid $gray-4;
  }
}
