/* Slick Slider */
.slick-slider {
  & h2.slider-title {
    white-space: pre-line;
  }
  & .slick-next:before {
    content: "\e908";
    font-family: "IconsExplora" !important;
  }
  & .slick-prev:before {
    content: "\e91d";
    font-family: "IconsExplora" !important;
  }
  .section-carousel & .slick-slide {
    border: 1px solid $gray-4;
  }
  /* Slider Home Explore */
  &.sliderhomexplore {
    & .slick-slide {
      &:nth-child(2n + 1) .btn {
        background-color: $red-3;
        border-color: $red-3;
        color: $white;
      }
      &:nth-child(2n + 1) hr {
        background-color: $yellow-1;
      }
      &:nth-child(2n) .btn {
        background-color: $yellow-1;
        border-color: $yellow-1;
        color: $black-2;
      }
      &:nth-child(2n) hr {
        background-color: $red-3;
      }
    }
  }
  /* Feature Content Home Explore */
  &.featurecontent {
    & .slick-slide {
      &:nth-child(2) .btn {
        background-color: $green-3;
        border-color: $green-3;
        color: $white;
      }
      &:nth-child(2) hr {
        background-color: $red-3;
      }
      &:nth-child(3) .btn {
        background-color: $yellow-1;
        border-color: $yellow-1;
        color: $black-2;
      }
      &:nth-child(3) hr {
        background-color: $red-3;
      }
      &:nth-child(4) .btn {
        background-color: $red-3;
        border-color: $red-3;
        color: $white;
      }
      &:nth-child(4) hr {
        background-color: $yellow-1;
      }
    }
    @media (max-width: $breakpoint-lg) {
      & .slick-dots {
        & .slick-active {
          & .colorline {
            width: 100%;
          }
        }
      }
    }
  }
  /* Slider Feature Visit Us */
  &.featurevisitus {
    & .slick-slide {
      &:nth-child(2n) .btn {
        background-color: $red-3;
        border-color: $red-3;
        color: $white;
      }
      &:nth-child(2n) hr {
        background-color: $yellow-1;
      }
      &:nth-child(2n + 1) .btn {
        background-color: $yellow-1;
        border-color: $yellow-1;
        color: $black-2;
      }
      &:nth-child(2n + 1) hr {
        background-color: $red-3;
      }
    }
  }
  /* Slider Feature Visit Us */
  .planetary & {
    & .slick-next:before {
      content: "\e937";
      font-family: "IconsExplora" !important;
    }
    & .slick-prev:before {
      content: "\e938";
      font-family: "IconsExplora" !important;
    }
  }
  &.mainsliderplanetary {
    & .slick-dots {
      display: none !important;
      bottom: 100px;
    }
    & .slick-slide {
      & .slider-title {
        font-weight: 200 !important;
      }
      & .btn {
        background-color: $green-p1;
        border-color: $green-p1;
        color: $black-2;
        font-weight: 600;
        letter-spacing: 5px;
        letter-spacing: 5px;
        & span {
          margin-left: 5px !important;
          font-size: 10px;
        }
        & span::before {
          content: "\e925";
        }
      }
      & hr {
        display: none;
      }
    }
    @media (max-width: $breakpoint-md) {
      & .slick-dots {
        display: block !important;
        & li button::before {
          color: #fff;
        }
      }
    }
  }
  /* Slider Planetary Exhibitions */
  &.sliderplanetaryexhibitions {
    & .slick-slide {
      & .slider-title {
        font-weight: 200 !important;
      }
      & .btn span::before {
        content: "\e925";
      }
      & hr {
        display: none;
      }
      & .btn {
        color: $black-2;
        font-weight: 700;
        letter-spacing: 5px;
        & span {
          margin-left: 5px !important;
          font-size: 10px;
        }
      }
      &:nth-child(2) .btn {
        background-color: $green-p1;
        border-color: $green-p1;
      }
      &:nth-child(3) .btn {
        background-color: $yellow-p1;
        border-color: $yellow-p1;
      }
      &:nth-child(4) .btn {
        background-color: $blue-p1;
        border-color: $blue-p1;
      }
    }
  }
}
/* Slick Dots */
.slick-tabs {
  & .slick-dots {
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    & ul {
      display: flex;
      justify-content: space-evenly;
      padding: unset;
    }
    & p {
      width: 55%;
    }
    & ul li {
      height: auto;
      width: 100%;
      margin: 0;
    }
  }
  & .slick-slider .slick-prev:before,
  & .slick-slider .slick-next:before {
    font-size: 30px;
    color: white;
  }
}
/* Slick Planetary */
#Exhibitions {
  & .slick-dots .container {
    border: 0.5px solid #fff9;
  }
  & .act {
    transform: translateY(0);
    letter-spacing: 1.5px;
    &::after {
      font-family: "IconsExplora" !important;
      content: "\e924";
      font-size: 0.7em;
      transform: translateX(5px);
      opacity: 0;
    }
    & .colorline {
      height: 2px;
      width: 50px;
    }
    & h3 .colorline {
      display: none;
    }
  }
  @media (max-width: $breakpoint-lg) {
    & .slick-slider {
      & .slick-dots {
        bottom: -1px !important;
        & .container {
          margin-bottom: 0 !important;
        }
      }
    }
    & .act {
      & h3 .colorline {
        display: block;
        height: 2px;
        width: 100%;
      }
      & .slick-active .act::after {
        font-size: 0.5em;
      }
    }
  }
  & .slick-active {
    background-color: #fff1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    & .act::after {
      opacity: 1;
    }
    &:nth-child(1n) .colorline {
      background-color: #cdf279;
    }
    &:nth-child(2n) .colorline {
      background-color: #efc78c;
    }
    &:nth-child(3n) .colorline {
      background-color: #48f1ff;
    }
  }
}

/* OurShopPlanetary */
.planetary #OurShopPlanetary {
  & .slick-track {
    display: flex;
    gap: 15px;
    & .slick-slide {
      display: block;
      border: 1px solid #fff5;
      & .card-body {
        & .category {
          color: $blue-p2;
        }
        & p {
          color: $yellow-p1;
        }
        & .btn {
          background: transparent;
          color: #fff;
          font-weight: 300 !important;
        }
      }
    }
  }
}
