#Tickes {
    & .image {
        background-size: cover;
        background-position: center;
        min-height: 250px;
    }
    & button{
        background-color: $red-1;
    }
    & .icon-explora {
        z-index: 1;
    }
}