.descriptionService {
    height: 50vh;
    min-height: 471px;
    padding: 5rem 0 2.9rem;
    color: $white;
    & h2 {
        line-height: 2.93rem;
        min-height: 290px;
    }
    & p {
        line-height: 1.43rem;
    }
    & a {
        position: absolute;
        bottom: 0;
    }
}

@media (max-width: $breakpoint-lg) {
    .descriptionService {
        height: auto;
        padding: 1rem 0;
        // height: 644px;
        & h2 {
            font-size: 1.68rem;
            line-height: 2.06rem;
            min-height: 30vh;
            max-height: 60vh;
            text-align: start;
        }
        & p {
            line-height: 1.37rem;
            font-size: 0.8rem;
            margin-bottom: 7rem!important;
        }
        & a {
            bottom: 20%;
            right: 45%;
        }
    }
}

@media (max-width: $breakpoint-sm) {
    .descriptionService {
        height: auto;
        padding: 2rem 0;
        // height: 644px;
        & h2 {
            font-size: 1.68rem;
            line-height: 2.06rem;
            min-height: 28vh;
            max-height: 40vh;
            text-align: start;
        }
        & p {
            line-height: 1.37rem;
            font-size: 0.8rem;
            margin-bottom: 7rem!important;
        }
        & a {
            bottom: 20%;
            right: 45%;
        }
    }
}