.separator{
    height: 1.5rem;
    left: 0;
    position: absolute;
    width: 40%;
  }


  .hbar{
    display: inline-block
  }
  
  .hbar h2{
    color: #44444A;
    font-size: 27px;
  }
  .hbar hr{
    height: 6px;
    margin-top: 4px;
    width: 40%;
    opacity: 1
  }


  .buttonbar{
    width: 340px;
  }
  .buttonbar a{
    display: inline-block;
    font-size: 14px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    padding: 1.5rem 2rem;
  }
  .buttonbar hr{
    height: 12px;
    margin-top: 0px;
    width: 40%;
    opacity: 1
  }

  @media (max-width: 480px){
    .hbar h2{
      color: #44444A;
      font-size: 20px;
    }

    .buttonbar{
      width: 270px;
    }
    .buttonbar a{
      font-size: 11px;
    }
  }