/* Styles Globals Planetary */
.planetary * {
  font-family: "Outfit", sans-serif;
  & .btn {
    letter-spacing: 0.35px;
    &:hover .icon-explora {
      transform: scale(1.3);
      transition: all 0.3s ease-out;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
    }
  }
  & .btn-primary {
    background-color: $green-p1;
    border-color: $green-p1;
    letter-spacing: 7px;
  }
  & .btn-warning {
    background-color: $yellow-p1;
    border-color: $yellow-p1;
    letter-spacing: 7px;
  }
  .sectiontitle {
    letter-spacing: 15px;
    &::before {
      content: "";
      border-bottom: 1px solid #fff;
      width: 1000%;
      right: calc(0px + 120%);
      top: 50%;
      position: absolute;
      transform: translateY(-50%);
    }
    &::after {
      content: "+";
      top: 50%;
      left: -50px;
      position: absolute;
      transform: translateY(-50%);
    }
  }
  .Calendar__day.-weekend:not(.-selected):not(.-blank):not(.-selectedStart):not(.-selectedEnd):not(.-selectedBetween) {
    color: blueviolet !important;
  }
}
