@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./globalsPlanetary.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "./modules/ImagesGallery.module.scss";
@import "./modules/Home.module.scss";
@import "./modules/Navbar.module.scss";
@import "./modules/TickesList.module.scss";
@import "./modules/Infobar.module.scss";
@import "./modules/ShopFlow.module.scss";
@import "./modules/Slider.module.scss";
@import "./modules/FormsValidation.module.scss";
@import "../components/ui/datepicker/DatePicker.module.scss";
@import "./modules//Accesibilty.module.scss";
@import "./base/icons";
@import "./modules/DomoMap.module.scss";
@import "./modules/Social.module.scss";

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.overlay {
  background: $black-1;
  opacity: 0.5;
}

.bg-video video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.bg-cover {
  background-size: cover !important;
}

.btn {
  & .icon-explora {
    display: inline-table;
    transform: translateX(0px);
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
  }
  &:hover .icon-explora {
    transform: translateX(5px);
    transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
  }
}

.text-content {
  h1 {
    @extend .fs-1;
  }
  h2 {
    @extend .fs-2;
  }
  h3 {
    @extend .fs-3;
    font-weight: 600;
  }
  h4 {
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 0.3rem;
    @extend .fs-4;
  }
  p {
    @extend .fs-5;
  }

  ul {
    @extend .fs-5;
  }
  li {
    padding-bottom: 1rem;
  }
}
