.hbar {
    display: inline-block
}

.hbar h2 {
    font-size: 27px;
}

.hbar hr {
    height: 6px;
    margin-top: 4px;
    width: 40%;
    opacity: 1
}

@media (max-width: 768px) {
    .hbar {
        margin-left: 28px;
    }
    .hbar h2 {
        color: #44444A;
        font-size: 20px;
    }
}