/* Banner Event */

.bannerProgramming {
  background-image: url(../../../../public/assets/programming/bannerProgramming.png);
  background-color: rgb(50, 50, 50);
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 93vh;
  position: relative;
  max-height: 100vh;
  & h3 {
    color: $white;
    margin-top: 6.6rem;
    margin-bottom: 20px;
  }
  & p {
    margin-bottom: 0;
  }
}

.infoBannerProgramming {
  flex-grow: 1;
  & h2 {
    margin-top: 70px;
    line-height: 65px;
  }
  & h5 {
    font-size: 20px;
    line-height: 30px;
    width: 58%;
    margin-bottom: 24px;
  }
  & h3 {
    width: 60%;
    line-height: 56px;
  }
  & > div {
    margin: 15px 0 20px;
  }
}

.aditionalInfoBannerProgramming {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 34px 0px 34px;
  color: $white;
  background: $black-2;
  & .container {
    width: 70%;
  }
  & p {
    margin: 0px 55px 0px 9px;
  }
}

.separator {
  background-color: $white;
  height: 27px;
  width: 0.4px;
}

@include media(xs) {
  .bannerProgramming {
    background-image: url(../../../../public/assets/programming/bannerEventResponsive.png);
    height: 793px;
    & .infoBannerProgramming {
      & h3 {
        margin-top: 4.6rem;
        font-size: 27px;
        line-height: 33px;
        font-weight: bold;
      }
      & h5 {
        width: auto;
        margin-top: 14px;
        margin-bottom: 0;
        font-size: 13px;
        line-height: 22px;
        font-weight: 400;
      }
      & div {
        margin-bottom: 15px;
      }
      // & p {
      //     margin-right: 20px;
      // }
    }
  }
  .aditionalInfoBannerProgramming {
    padding: 24px 0;
    opacity: 0.87;
    // background-color: #ffffff14;
    // backdrop-filter: blur(30vh);
    & p {
      margin: 0 0 0 4.6px;
      font-size: 10.8px;
      line-height: 23px;
    }
    // & img {
    //     min-width: 70%!important;
    //     min-height: 70%!important;
    // }
    & .aditionalInfoPrice {
      width: 75%;
    }
    & span {
      width: 19px !important;
    }
    & .socialButtons span {
      width: auto !important;
      height: auto !important;
    }
  }
}

@include media(md) {
  .bannerProgramming {
    & .infoBannerProgramming {
      & h3 {
        width: auto;
      }
      & h5 {
        width: auto;
      }
    }
  }
}

/* Page Bar */

.pagebarRelative {
  display: flex;
  align-items: center;
  position: relative;
  & h2 {
    color: $black-2;
  }
}

.pagebarTransparent {
  display: flex;
  align-items: center;
  position: relative;
  & h2 {
    color: $white;
  }
}

.pagebar_h2 h2 {
  margin-top: 60px;
  line-height: 23px;
  color: $white;
}

.btnLink {
  position: absolute;
  top: 50px;
  left: -40px;
}

@include media(sm) {
  .btnLink {
    position: absolute;
    left: 0px;
  }
}

@include media(xs) {
  .pagebarRelative {
    background-color: #f2f2f7;
  }
  .pagebarTransparent {
    background-color: transparent;
    height: 110px;
    & h2 {
      font-size: 13px;
      line-height: 22px;
      color: $white;
    }
    & a {
      display: none;
    }
  }
  .btnLink {
    position: absolute;
    left: 5px;
    top: 138px;
  }
  .pagebar_h2 h2 {
    margin-top: 40px;
  }
}

/* Info Event */

.infoEvent {
  padding: 71px 0px;
  background: $white;
  color: $black-2;
}

.infoEventDescription {
  & h3 {
    margin-bottom: 47px;
  }
  & p {
    line-height: 23px;
    margin-bottom: 35px;
  }
  & .shortDescription {
    margin-bottom: 30px;
    line-height: 30px;
  }
  & .btnSocial {
    padding: 8px 20px 10px 20px;
    border: none;
    background: $gray-2;
    & span {
      margin-left: 15px;
    }
  }
  & .infoEventListModerators ul {
    list-style: none;
  }
}

.infoEventModerators {
  & h3 {
    line-height: 30px;
  }
  & ul {
    margin-left: 21px;
    padding-left: 0;
  }
  & ul li {
    font-size: 16px;
    line-height: 30px;
  }
}

@include media(xs) {
  .infoEvent {
    padding: 48px 0px;
  }
  .infoEventDescription {
    & .shortDescription {
      margin-bottom: 25px;
      font-size: 17px;
      line-height: 27px;
    }
    & .btnSocial {
      padding: 5px 14px;
      & span {
        margin-left: 7.8px;
        width: 75%;
        font-size: 13px;
        text-align: start;
      }
    }
    & .marginButton {
      margin-right: 30px;
    }
  }
  .infoEventModerators {
    & h3 {
      line-height: 22px;
    }
    & ul {
      margin-bottom: 0;
    }
    & ul li {
      font-size: 13px;
      line-height: 22px;
    }
  }
}
