.selectFilter {
    position: absolute;
    left: 32px;
    top: 68px;
}

.selectFilter2 {
    display: flex;
    align-items: baseline;
    position: absolute;
    left: 32px;
    top: 88px;
}

.pointer {
    cursor: pointer;
}

.btnSubmit {
    background-color: $red-3;
    border: none;
    color: $white;
    display: inline-block;
    margin: auto;
    padding: 1rem 5rem;
}

.deleteFilter {
    width: 220px;
}

.deleteFilter span {
    cursor: pointer;
    display: inline-block;
    font-size: 28px;
    position: relative;
    top: 5px;
}

.filter {
    position: absolute;
    left: -15px;
    top: 28px;
    background: white;
    box-shadow: 1px 1px 3px 0px #cbcbcb;
    padding: 2.5rem 2rem;
    width: 540px;
    z-index: 15;
}

.filter ul {
    list-style: none;
    padding: 0;
    display: inline-grid;
    margin: 2rem .3rem;
}

.filter ul li {
    color: $black-2;
    display: block;
    position: relative;
    width: auto;
    justify-content: left;
    align-items: center;
}

.filter ul li input[type=checkbox] {
    position: absolute;
    visibility: hidden;
}

.filter ul li label {
    display: inline-table;
    position: relative;
    font-weight: 300;
    font-size: 1.05em;
    padding: 1px 15px 5px 35px;
    margin: 1px auto;
    height: 20px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.filter ul li .check {
    display: block;
    position: absolute;
    border: 5px solid $gray-3;
    background-color: $gray-3;
    height: 25px;
    width: 25px;
    top: 0px;
    left: 0px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.filter input[type=checkbox]:checked~.check {
    background: $red-3;
}

@include media(xs) {
    .filter {
        left: -8px;
        width: 370px;
    }
    .filter ul li label {
        font-size: 10px;
    }
    .selectFilter {
        position: unset;
    }
    .selectFilter2 {
        display: flex;
        flex-wrap: wrap;
        position: unset;
        margin-bottom: 2rem;
    }
}

@media(max-width: $breakpoint-xs) {
    .filter {
        left: 0px;
        width: 320px;
    }
    .filter ul li label {
        font-size: 8px;
    }
}